{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <h1 class="heading-xlarge">Have alterations been made to key features of this scheme or has there been a variation in the share capital?</h1>

           <span class="form-hint">A ‘key feature’ is anything that's needed for the scheme to meet its legal requirements (for example, the eligibility of an individual to take part in the scheme).</span> 
            

            <form method="post">

                <div class="form-group>">
                {{! <legend class="form-label">Have alterations been made to key features of this scheme or has there been a variation in the share capital?</legend> }}
                <fieldset class="inline">
                    <label class="block-label" for="radio-1">
                    <input id="radio-1" type="radio" name="next-page" value="select-scheme-alterations">Yes</label>
                    <label class="block-label" for="radio-2">
                    <input id="radio-2" type="radio" name="next-page" value="summary">No</label>
                </fieldset>
                </div>

                <div class="form-group">
                    <button class="button">Continue</button>
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}