{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Enterprise Management Incentives (EMI - Form EMI40)</h1>

            <h2 class="heading-medium">No Errors</h2>
            <p><a href="start">Version 1 check file flow</a></p>
            <p><a href="version2/start">Version 2 check file flow</a></p>
            <p><a href="version3/start">Version 3 check file flow</a></p>



            <h2 class="heading-medium">With Errors</h2>
            <p><a href="errors/start">EMI scheme with errors</a></p>

        </div>
    </div>

{{/main}}
{{/layout}}