{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Submit your Enterprise Management Incentives annual return</h1>
            <p class="lede">Use this service to submit your return at the end of the tax year. This service replaces form EMI40.</p>

            <div class="notice">
                <i class="icon icon-information"><span class="visuallyhidden">Warning</span></i>
                <strong class="font-small">Comma separated values (.csv) files cannot be uploaded at this moment - use an OpenDocument Spreadsheet (.ods) file instead.</strong>
            </div>

            <h2 class="heading-medium">Before you start</h2>
            <div class="panel panel-border-wide space">
                The company secretary, or the person acting as the company secretary, must have approved this return and must agree to any declaration you make within this service.
            </div>

            <p>Depending on your circumstances, you may need:</p>
            <ul class="list-bullet space">
                <li>to <a href="https://www.gov.uk/government/publications/enterprise-management-incentives-end-of-year-template">record any events related to the scheme or arrangement in an OpenDocument Spreadsheet</a> (the size of the file must be no larger than 10MB)</li>
                {{! <li>to <a href="/checking_service/choose-and-check">check your spreadsheet for formatting errors</a></li> }}
                <li> the employer company’s name and address, Company Registration Number and Corporation Tax Reference (and those of any qualifying subsidiary companies)</li>
            </ul>


            <p><a href="#">Contact us on our feedback page</a> if you have an OpenDocument Spreadsheet events file that is larger than 10MB.</p>
            <a class="button button-get-started" href="reportable-events" role="button">Start now</a>

        </div>
    </div>

{{/main}}
{{/layout}}