 <!--<h3 class="heading-xsmall">Employment Related Securities (ERS)</h3>-->
 <h1 class="heading-large">Choose and check your spreadsheet</h1>
          <p class="text">Choose the spreadsheet that you want to check for formatting errors.</p>     
                    <div class="text panel-indent"> <p class="text">
               Formatting errors are created when information isn’t entered correctly or structural changes are made to a spreadsheet. For example, a number has been entered where a letter was needed or a column has been removed. 
              </p></div> <!--<details>
            <summary><span class="summary">What are formatting errors?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Formatting errors are created when information isn’t entered correctly or structural changes are made to a spreadsheet. For example, a number has been entered where a letter was needed or a column has been removed. 
              </p>
            </div>
            </details>-->
            <br>
          
          <div id="question1" class="form-group">
                  <div id="browsefilebox" class="question-body">                 
                    <div class="form1">       
                      <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                      <!--<div id="btnHolder"><button id="selectFileBtn" class="button-secondary">Choose your file</button></div>-->
                      <div id="selectedFileName">&nbsp;</div>     
                    </div>                  
                  </div>
                </div>