{{<layout}}

{{$pageTitle}}
	Submit your ERS annual return
{{/pageTitle}}

{{$content}}

		<main id="content" role="main">
		   {{>includes/alpha_banner}}
			{{>CSOP/includes/sub_header_CSOP}}

			<div class="grid-row">
				<div class="column-two-thirds">

          <h1 class="heading-xlarge">Add scheme organiser details</h1>
					{{>CSOP/includes/CSOP_company_details}}

					<a href="javascript:history.go(-1)">Back</a>
				</div>
			</div>

		</main>

{{/content}}
{{/layout}}

<script>
$("#countryname").hide();
$("#radio-inline-1").on('click', function() {
  $("#country-name").hide();
  $("#crn").show();
  $("#ctr").show();
  $("#zip").hide();
});
</script>

<script>
$("#radio-inline-2").on('click', function() {
  $("#countryname").show();
  $("#crn").hide();
  $("#ctr").hide();
  $("#zip").hide();
});
</script>

<script>
$("#radio-inline-1").on('click', function() {
  $("#countryname").hide();
  $("#crn").show();
  $("#ctr").show();
  $("#zip").show();
});
</script>
