{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	 <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
	{{>sub_header_SIP}}
	<h1 class="heading-large">Companies in this group scheme</h1>
		<div class="form-block">
					 <!-- help text -->
				
		<table cellspacing="0" class="default">
												<thead>
													<tr>
														
														<th>Company name</th>
														<th>Address</th>
														<th>Company Registration<br> Number</th>
														<th>Corporation Tax<br> Reference</th>
														
													</tr>
												</thead>
												<tbody id="summary">
													<tr>
													<td>Abacus Incorporated</td><td>Gloucester House<br>Springfield Road<br>Newcastle upon Tyne<br>Tyne and Wear<br>NE1 1AA.</td><td>7589628</td><td>3458676452</td>
												</tr>
												<!--<tr>
													<td>2</td><td>Pixel Art Limited</td><td>Building Name<br># Street Name<br>Area<br>Town<br>NE1 1AA.</td><td>XXXXXXX</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario3_6">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
												</tr>-->
													</tbody>
													<tbody id="summary">
													<tr>
													<td>Newcastle United</td><td>One Way<br>Springfield Road<br>Newcastle upon Tyne<br>Tyne and Wear<br>NE99 1NE.</td><td>7589628</td><td>4637654</td>
												</tr>
												<!--<tr>
													<td>2</td><td>Pixel Art Limited</td><td>Building Name<br># Street Name<br>Area<br>Town<br>NE1 1AA.</td><td>XXXXXXX</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario3_6">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
												</tr>-->
													</tbody>
											</table>



<h3 class="heading-small">Notice a mistake?</h1>


<p class="text">If there's a mistake in any of the company details shown, you'll need to correct them in the .csv file and <a href="scenario1_17_upload_CSOP_CSV">upload the file again</a>.</p>

<form action="" method="post" class="form">
						<fieldset>
							<legend></legend>
							
			</fieldset>
					<a class="button" href="scenario3_8_Alterations_CSOP">Continue</a>
						  
					</form>
					<p class="text"><a href="scenario1_17_upload_CSOP_CSV">Back</a></p>


 <!-- main content ends -->
</div>
	</div>
</div>
</main>
{{/content}}

{{/layout}}
