{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
           {{>includes/alpha_banner}}
            {{>CSOP/includes/sub_header_CSOP}}

            <div class="grid-row">
                <div class="column-two-thirds">

                    <h1 class="heading-xlarge">Reportable events</h1>

                    {{>CSOP/includes/what_CSOP}}

                    <a href="javascript:history.go(-1)">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}
