{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
           {{>includes/alpha_banner}}
{{>CSOP/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

                	<h1 class="heading-xlarge">Select scheme alterations and variations</h1>

                    {{>CSOP/includes/alterations-variations}}


                <a href="javascript:history.go(-1)">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}
