{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>CSOP/includes/reference}}

			<div class="grid-row">
				<div class="column-two-thirds">

					{{>CSOP/includes/start}}
					<a class="button button-get-started" href="/CSOP/tax-year">Start now</a>

                    {{>CSOP/includes/gethelp}}

                </div>
			</div>

		</main>

{{/content}}
{{/layout}}