{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
           {{>includes/alpha_banner}}
{{>CSOP/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

					<h1 class="heading-xlarge">Your annual return is nearly complete</h1>
					<p>Check the information that you’ve provided before you submit your return.</p>

					<table>
						<thead>
							<tr>
								<th width="50%">Section</th>
								<th>Your information</th>
								<th width="12%"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Have options been granted, exercised, released (including exchanges), lapsed or cancelled during the tax year?</td><td>No</a></td><td><a class="editCompanyDetails" href="scenario3_2_Check_SIP">Change</a></td>
							</tr>
							<tr>
								<td>Scheme organiser</td>
								<td>This Company<br>6 My Street<br>United Kingdom<br>LS21 3DP</a></td>
								<td><a class="scenario3_3_Group_SIP" href="scenario3_3_Group_SIP">Change</a></td>
							</tr>
							<tr>
								<td>Is this a group scheme?</td><td>Yes<!--<br>Pixel Art Limited--></td><td><a class="editCompanyDetails" href="scenario3_5_Group_Edit_SIP">Change</a></td>
							</tr>
							<tr>
								<td>Companies in this group scheme</td><td>That Company<!--<br>Pixel Art Limited--></td><td><a class="editCompanyDetails" href="scenario3_5_Group_Edit_SIP">Change</a></td>
							</tr>
							<tr>
								<td>Have alterations been made to 'key features' of this scheme or has there been a variation in the share capital?</td>
								<td>Yes</a></td>
								<td><a class="editCompanyDetails" href="scenario3_8_Alterations_SIP">Change</a></td>
							</tr>
							<tr>
								<td>What alterations or variations have been made?</td>
								<td> Alterations to shares within the scheme</td>
								<td><a class="editCompanyDetails" href="scenario3_9_Alterations_Check_SIP">Change</a></td>
							</tr>
						</tbody>
					</table>

					<div class="panel-indent">
						<p class="heading-small"> The company secretary or the person acting as the company secretary agrees that the information submitted is correct and complete.</p>
					</div>

					<div class="form-group">
						<a class="button" href="confirmation">Accept and submit</a>
					</div>


 					<a href="javascript:history.go(-1)">Back</a>

                </div>
            </div>

        </main>

{{/content}}
{{/layout}}