{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
  <div class="outer-block">
   <div class="inner-block">
  <!-- main content starts -->
    {{>sub_header_SIP_new}}
  {{>group_sip_new}}
          
            <p class="text">
              <a class="button" href="2scenario3_4_Group_Details_SIP">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="2scenario3_2_Check_SIP">Back</a></p>


 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}
