{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}

<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
  {{>sub_header_SIP_new}}
 {{>check_SIP_new}}
                     <p class="text">
              <a class="button" href="scenario3_3_Group_SIP">Upload spreadsheet</a>
            </p>    
          </form>
          <p class="text"><a href="scenario3_1_What_SIP">Back</a></p>


 <!-- main content ends -->
 </div>
  </div>
</main>
{{/content}}

{{/layout}}
