{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	<!--div1 start--><div class="outer-block">
	 <!--div2 start--><div class="inner-block">
	<!-- main content starts -->
	{{>sub_header_SIP_new}}
  {{>trustee_details}}


			<a class="button" href="scenario3_7_Trustee_Edit_SIP">Continue</a>
		</fieldset>
						</p>    
					</form>
					<p class="text"><a href="scenario1_2_Group_SIP">Back</a></p>

</div>
 <!-- main content ends -->
	<!--div2 end--></div>
<!--div1 end--></div>
</main>
{{/content}}

{{/layout}}
