{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
           {{>includes/alpha_banner}}
            {{>CSOP/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">


                    <h1 class="heading-xlarge">Choose your file type</h1>

                    {{>CSOP/includes/filetype}}

                    <a href="javascript:history.go(-1)" class="link-back">Back</a>

                </div>
            </div>

        </main>

{{/content}}
{{/layout}}