  <div>
   <table class="progress">

    <tr>
      <td>1. Reportable events</td> 
      <td>2. Company details</td> 
      <td>3. Group plans</td> 
      <td>4. Trustees</td> 
      <td class="progress_active">5. Plan alterations</td> 
      <td>6. Summary</td> 
      <td>7. Confirmation</td>
    </tr>

  </table>

  </div><br>
<span class="heading-large">Select plan alterations</span>
<p class="text">What alterations have been made?</h1>
 <!-- radio buttons start -->
          <div class="form-block">
           <form action="" method="post" class="form">
           <fieldset>
              <div class="current-question" id="current-question">
                <!--h2>Alterations / amendments made to the scheme or to options in the tax year</h2-->                 
                <p class="text">Select all that apply.</p>
              </div>
     
            <div class="form-group">
                <p class="option group">
                  <label class="block-label" for="amendscheckbox1"><input type="checkbox" id="amendscheckbox1" value="1"> Alterations to shares within the plan</label>
                  <label class="block-label" for="amendscheckbox2"><input type="checkbox" id="amendscheckbox2" value="2"> Alterations to the eligibility of individuals to join the plan</label>
                  <label class="block-label" for="amendscheckbox3"><input type="checkbox" id="amendscheckbox3" value="3"> Alterations to existing share awards as the result of a company reconstruction</label>
                  <!--<label class="block-label" for="amendscheckbox4"><input type="checkbox" id="amendscheckbox4" value="4"> Change to/variation of the share capital</label>-->
                  <label class="block-label" for="amendscheckbox5"><input type="checkbox" id="amendscheckbox5" value="5"> A change of trustee</label>
                  <label class="block-label" for="amendscheckbox7"><input type="checkbox" id="amendscheckbox7" value="7"> Other</label>
                </p>
              </div>
             <div class="icon-important"></div>
              <div style="display: inline-block; float: left; width: 60%">
                <span class="bold-small">The company secretary or the person acting as company secretary declares that the alteration hasn't caused the requirements of parts 2-6 of Schedule 2 Income Tax (Earnings and Pensions) Act 2003 not to be met in relation to the Share Incentive Plan.</span>
                      </div>       
          