
 <h1 class="heading-large">Select scheme alterations and variations</h1>
<p class="text">What alterations or variations have been made?</p>
 <!-- radio buttons start -->
          <div class="form-block">
           <form action="" method="post" class="form">
           <fieldset>
              <div class="current-question" id="current-question">
                <!--h2>Alterations / amendments made to the scheme or to options in the tax year</h2-->                 
                <p class="text">Select all that apply.</p>
              </div>
     
            <div class="form-group">
                <p class="option group">
                  <label class="block-label" for="amendscheckbox1"><input type="checkbox" id="amendscheckbox1" value="1"> Alterations to the terms of an existing option (other than by a variation in the share capital of which the shares form a part)</label>
                  <label class="block-label" for="amendscheckbox2"><input type="checkbox" id="amendscheckbox2" value="2"> Alterations to the eligibility of individuals to take part in the scheme</label>
                  <label class="block-label" for="amendscheckbox3"><input type="checkbox" id="amendscheckbox3" value="3"> Alterations following a company reorganisation where employees have given up their options in the original company in exchange for options in the new company</label>
                  <label class="block-label" for="amendscheckbox4"><input type="checkbox" id="amendscheckbox4" value="4"> Variations in the share capital such as an increase (more shares, same value), a consolidation (less shares, each with a higher value) or subdivision (more shares, each with a lower value) of shares, or a rights issue.</label>
                
                  <label class="block-label" for="amendscheckbox7"><input type="checkbox" id="amendscheckbox7" value="7"> Other alterations made to key features of this scheme</label>
                </p>
              </div>
              <div class="icon-important"></div>
              <div style="display: inline-block; float: left; width: 60%">
               <span class="bold-small">I declare that the requirements of parts 2-6 of Schedule 4 Income Tax (Earnings and Pensions) Act 2003 are still being met in relation to this Company Share Option Plan regardless of the alterations or variations made.</span>
                      </div>       