<h1 class="heading-large">Upload your spreadsheet</h1>
 <!-- radio buttons start -->
          <p class="text">Choose the OpenDocument Spreadsheet (ODS, .ods file) that you want to upload as part of your Company Share Option Plan annual return.</p>

          <div class="text panel-indent"><p class="text">
              You can only upload ODS (.ods) files.
              </p></div>
                     <!--<details>
            <summary><span class="summary">What are format errors?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about formatting errors.
              </p>
            </div>
            </details>
            <br>
            <p class="text">Your spreadsheet must be in OpenDocument Spreadsheet (.ods) format</p>-->
         
                    <!-- <details>
            <summary><span class="summary">What is ods format?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about ods.
              </p>
            </div>
            </details>
           <h2 class="heading-medium">Choose and upload your spreadsheet.</h2>-->

          <div id="question1" class="form-group">
                  <div id="browsefilebox" class="question-body">                 
                    <div class="form1">       
                      <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                      <!--<div id="btnHolder"><button id="selectFileBtn" class="button-secondary">Choose your file</button></div>-->
                      <div id="selectedFileName">&nbsp;</div>     
                    </div>                  
                  </div>
                </div>