   <h1 class="heading-large">Qualifying subsidiary company details</h1>
   
   <p>How do you want to add your qualifying subsidiary company details? </p>
 <!-- radio buttons start -->
         

     
       

      
        <label class="block-label" for="radio-1">
        <input id="yes" type="radio" name="radio-group" value="Northern Ireland">Upload a comma separated values (CSV, .csv) file</label>
  
        <label class="block-label" for="radio-2">
        <input id="no" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">Manually enter the subsidiary company details</label>
     

      
 
        <div class="form-group">
            <br>
          <button id="next" class="button">Continue</button>
          <br>
          <a class="button-link" onclick="history.back(-1); return false; " href="scenario1_2_Group_EMI">Back</a>
        </div>
 
    </div>
  </div>

</main>


{{$endBody}}
    <!--Load in jquery library-->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script type="text/javascript">
         //when go button is clicked create a function
         $('#next').click(function() {
              //if radio button yes is checked go to home '/'
             if($('#yes').is(':checked')){
               location.href = 'scenario1_17_upload_EMI_CSV'
             }
             // else if radio button no is checked go to /summary page
             else if ($('#no').is(':checked')){
               location.href = 'scenario1_13_company_details_EMI'
             }
             // else if nothing is ticket return false and od nothing
             else{
               return false;
             }
         });
    </script>
{{/endBody}}

