<div class="text">
      <h1 class="heading-large">Submit your Enterprise Management Incentives annual return</h1>
      <p class="text font-medium">Use this service to submit your return at the end of the tax year. This service replaces form EMI40.</p>

     
     <h2 class="heading-medium">Before you start</h2>
     <p class="panel-indent">The company secretary or the person acting as the company secretary must have approved this return and must also agree to any declaration you make within this service.</p>
     <p class="text">Depending on your circumstances, you may need:

     	<ul class="list-bullet">


    <li> to record any events related to the scheme or arrangement in a spreadsheet (.ods format) or comma separated values (.csv) file </li>
	<li> the employer company’s name and address, Company Registration Number and Corporation Tax Reference (and those of any qualifying subsidiary companies)</li>

</ul>

 	</p>

  	<p class="text">If relevant, qualifying subsidiary company details can be entered manually or uploaded in a .csv file (as appropriate).</p>
  </div>