
      <div class="text">
      <h1 class="heading-large">Submit your Other annual return</h1>
       <p class="text font-medium">Use this service if you operate an Other scheme and need to submit your return at the end of the tax year. This service replaces form 42.</p>
     
     <h2 class="heading-medium">Before you start</h2>
     <p class="text">Depending on your circumstances, you may need:

     	<ul class="list-bullet">


    <li> to record any events related to the schemes or arrangements registered under this scheme in a spreadsheet (.ods format) or comma separated values (.csv) file </li>
	<li> the company’s name and address, Company Registration Number and Corporation Tax Reference (and those of any other companies covered by this return) </li>

</ul>

 	</p>

  	<p class="text">If relevant, the details of any other companies covered by this return can be entered manually or uploaded in a .csv file (as appropriate).</p>
  </div>