  <h1 class="heading-large">Choose what you want to do</h1>
 <!-- radio buttons start -->
          <p class="text">You can:</p>
                  <ul class="text list-bullet"><li>upload a spreadsheet if options were granted, exercised, released or exchanged during the tax year</li>
                  <li>declare a nil return if no options were granted, exercised, released or exchanged during the tax year</li></ul>
                   <div class="form-block">
          <!-- <details>
            <summary><span class="summary">What are reportable events?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about reportable events.
              </p>
            </div>
          </details>-->
<form action="" method="post" class="form">
            <fieldset class="inline">
              <legend></legend>
              
              <div class="form-group">
             

                <label for="radio-2" class="block-label">
                  <input id="radio-2" type="radio" name="radio-group" value="Complete a return">
                  Upload a spreadsheet
                </label>
                <label for="radio-1" class="block-label">
                  <input id="radio-1" type="radio" name="radio-group" value="start">
                  Declare a nil return<br>
                </label>
                </div>
            </fieldset>
           
            <p class="text"></p>
          </div>