{{<layout}}

{{$pageTitle}}Checking Service - HMRC{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}
{{$propositionHeader}}
     {{>propositional_navigation_2}}
{{/propositionHeader}}
 
{{$headerClass}}with-proposition{{/headerClass}}
{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}

<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
  {{>check_checking}}
                     <p class="text">
              <a class="button" href="errors_scenario1_4">Check for errors</a>
            </p>    
    
          <p class="text"><a href="select_scheme_scenario1_2">Back</a></p>


 <!-- main content ends -->
 </div>
  </div>
</main>
{{/content}}

{{/layout}}
