{{<layout}}

{{$pageTitle}}Checking Service - HMRC{{/pageTitle}}
{{$afterHeader}}


{{/afterHeader}}

{{$content}}

  {{>hmrc_banner}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<!--<div class="grid-wrapper">
    <div class="grid">-->
      
      	<div class="grid-wrapper">
    <div class="grid grid-3-4">
      <div class="inner-block">
<h1 class="heading-large">Submit your end of year CSOP return</h1>
   <p class="text font-medium">Use this service if you operate a Company Share Option Plan (CSOP) and need to submit your return at the end of the tax year. This service replaces form 35.</p>
   <h2 class="heading-medium">Before you start</h2>
   <p class="text">You’ll need to know if any options were granted, exercised, released (including exchanges), lapsed or cancelled under this scheme during the tax year. If any of these things have happened, you’ll need to record the events in a spreadsheet and save it to your computer. Your spreadsheet must have the same name and follow the same structure as the <a href="templates">template supplied by HM Revenue and Customs</a>.
<p>If relevant, you’ll need to provide group scheme information and report any alterations, or variations to share capital, that have been made in relation to the scheme.</p>
   	 <p class="text">
	<a class="button button-get-started" href="what_scenario3_2_test">Start now</a>
	</p>		

</div>

        </div>

    
  
    <div class="grid grid-1-4">
       <div id="global-header-bar">
     
        <div class="header-bar"></div>
    
    </div>
                            <h2 class="heading-small">Employment Related Securities</h2>
                            
                            <ul>
                                <li><a href="templates">Spreadsheet templates</a></li>
								
                            </ul>
							
							                        </div>
                    </div>
                
    </div>
  
      	
            <!--<h3 class="heading-xsmall">Employment Related Securities (ERS)</h3>-->
		

 <!-- main content ends -->
	

</main>
{{/content}}

{{/layout}}
