{{<layout}}

{{$pageTitle}}Checking Service - HMRC{{/pageTitle}}
{{$afterHeader}}


{{/afterHeader}}
{{$propositionHeader}}
     {{>propositional_navigation_2}}
{{/propositionHeader}}
 
{{$headerClass}}with-proposition{{/headerClass}}
{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}

<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
			<!-- main content starts -->
	 <!--<h3 class="heading-xsmall">Employment Related Securities (ERS)</h3>-->
	<h1 class="heading-large">Check complete</h1>
		<div class="confirmation">
					<p class="heading-medium"><img src="/public/icons/tick.png" style="padding: 0 10px 0 0" alt="">There are no formatting errors in your spreadsheet.</p>
					
														</div>
							<div class="bottom-grey"><br></div>	
							<div>				
					<h2 class="heading-medium">What happens next?</h2>
								<p class="text"> Check your spreadsheets whenever you update them. Regular checks allow you to identify and then correct formatting errors. </p><p class="text"><a href="select_scheme_scenario2_2">Check another ERS scheme or arrangement spreadsheet</a>.</p>
									<br>
									<br>
	<a class="button" href="/scenarios">Finish</a>
						

 <!-- main content ends -->
	</div>
</div>
</div>
</main>
{{/content}}

{{/layout}}
