{{<layout}}

{{$pageTitle}}Checking Service - HMRC{{/pageTitle}}
{{$afterHeader}}


{{/afterHeader}}
{{$propositionHeader}}
     {{>propositional_navigation_2}}
{{/propositionHeader}}
 
{{$headerClass}}with-proposition{{/headerClass}}
{{$content}}
{{>alpha_banner}}
  {{>hmrc_banner}}
  <!-- main content starts -->
<main id="content" role="main">
  <div class="outer-block">
  <!--<div class="grid-wrapper">
    <div class="grid">-->
      <div class="grid-wrapper">
    <div class="grid grid-3-4">
      <div class="inner-block">
  {{>start_upload_error}}
            
    
</div>
</div>


    
      <div class="grid grid-1-4">
       <div id="global-header-bar">
     
        <div class="header-bar"></div>
    
    </div>
                            <h2 class="heading-small">Check your ERS files</h2>
                            
                            <ul>
                                <li><a href="">Spreadsheet templates</a></li>
                
                            </ul>
              
                                      </div>
                                  </div>
                                  </div>


 <!-- main content ends -->
  </div>
</main>
{{/content}}

{{/layout}}
