{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}

<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
{{>sub_header_CSOP}}
  {{>check_CSOP}}
                     <p class="text">
              <a class="button" href="04_CSOP_modal_box">Upload spreadsheet</a>
            </p>    
          </form>
          <p class="text"><a href="09_CSOP_csv_ods">Back</a></p>


 <!-- main content ends -->
 </div>
  </div>
</main>
{{/content}}

{{/layout}}
