{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	<!-- main content starts -->
<main id="content" role="main">
		<div class="outer-block">
		<div class="inner-block">
			{{>sub_header_CSOP}}
			{{>start_CSOP_no_app}}
		
	 <p class="text">
	<a class="button button-get-started" href="02_CSOP_scheme_flow_start">Start now</a>
	</p>

	<div class="block">
         
      
            <a class="button-link" href="C_CSOP_no_saved_application">Continue your previously saved annual return</a>
               <p>Note, any application currently in progress is only kept for 28 days from the last time it was saved.</p>
     </div>	




	 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
