{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	

<main id="content" role="main">
	  <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->

	<h1 class="heading-large">Annual return not found</h1>
  </header>
  <div id="content">
    
        <div class="grid-3-4">
          <div class="form-group">
          <p class="font-medium">An unfinished return is only kept for 14 days from the last time it was saved.</p>
          <p class="font-19">You'll need to <a href="07_CSOP_application_continue">start again</a>.</p>
    
        <div class="form-group">
        <a class="button-link" onclick="history.back(-1); return false; " href="">Back</a>
        </div> 
    </div>
  </div>






  

 <!-- main content ends -->
	</div>
</div>
</div>



</main>
{{/content}}

{{/layout}}
