{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	

<main id="content" role="main">
	  <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->

		<div class="form-group">
        <div class="table-line"></div>
        
         <h1 class="heading-medium">Sign in with your Government Gateway account</h1>
        <br>
        <div class="form-group">
          <label class="form-label">Government Gateway User ID</label>
          <input class="form-control" type="text"></input>
          <div class="block">
            <br>
            <label class="form-label">Password</label>
            <input class="form-control" type="password"></input>
          </div>
        </div>
        <div class="block">
          <br>
          <br>
          <a class="button" href="07_CSOP_application_continue">Sign in</a>
        </div>
        <div class="block">
          <h2 class="heading-24">Having problems logging in?</h2>
          <ul>
            <li>
              <a href="http://www.gateway.gov.uk/Help/Help.aspx?content=help_help_desk.htm&languageid=0" target="_blank" class="button-link">Government Gateway help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>





	</div>
</div>
</div>

</main>
{{/content}}

{{/layout}}
