{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	 <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
	{{>sub_header_CSOP}}
	<h1 class="heading-large">Companies in this group scheme</h1>
		<div class="form-block">
					 <!-- help text -->
			<p class="text"><a href="new_flow_10">Add a company</a> <p class="text">	
		<table cellspacing="0" class="default">
												<thead>
													<tr>
														
														<th>Company name</th>
														<th>Address</th>
														<th>Company Registration<br> Number</th>
														<th>Corporation Tax<br> Reference</th>
														<th></th>
													</tr>
												</thead>
												<tbody id="summary">
													<tr>
													<td>No details currently added.</td><td> <br> <br>  <br>  <br> </td><td></td><td></td><td><a class="editCompanyDetails" href="scenario1_13_company_details_CSOP"></a><br><br><a class="deleteCompanyDetails" ref="1" href="#"></a></td>
												</tr>
												<!--<tr>
													<td>2</td><td>Pixel Art Limited</td><td>Building Name<br># Street Name<br>Area<br>Town<br>NE1 1AA.</td><td>XXXXXXX</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario3_6">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
												</tr>-->
													<tr id="companyDetails">
														<td colspan="6"><a href="new_flow_10"><span class="font-small">Add a company</span></a></td>
													</tr></tbody>
											</table><br><br>
<p>Alternatively, you can <a href="new_flow_09">upload a upload a comma separated values (CSV, .csv) file </a></p>

<form action="" method="post" class="form">
						<fieldset>
							
							
			</fieldset>
			<div id="validationID" name ="validation" style = "visibility:hidden; margin-left:-1 " class=" panel-indent validation-message"> Add a company before continuing</div>
					

			<a class="button" onclick="showDiv()">Save and continue</a>
					
						  
					</form>
					<p class="text"><a href="new_flow_07">Back</a></p>


 <!-- main content ends -->
</div>
	</div>
</div>
</main>

<script>

function showDiv() {

	
	document.getElementById("validationID").style.visibility = "visible";
	
}

</script>


{{/content}}

{{/layout}}
