{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
  <div class="outer-block">
     <div class="inner-block">
  <!-- main content starts -->
     {{>sub_header_SIP_new}}
  {{>2alterations_check_SIP_new}}
  
              <div class="form-group">
                <br>
                <br>
                <a class="button" id="btnValidationNext" type="button" href="2scenario3_10_Summary_SIP">Accept and continue</a>
                <p class="text"><a href="2scenario1_7_Alterations_SIP">Back</a></p>
              </div>                           
            </fieldset>
           
            </form>
          

 <!-- main content ends -->
</div>
</div>
  </div>
</main>
{{/content}}

{{/layout}}
