{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	
  <div class="outer-block">
   <div class="inner-block">
                
		<p><a href="main_pagev7">< Main page</a><p>
    <h1 class="heading-large">Children</h1>
		
         <p><a href="new_child">Add a child to your claim</a><br></p>
    <p><a href="">Remove a child from your claim</a><br></p>
     <p><a href="">Child is over 16 and in education or training</a></p>
<br>
          <p class="text"><a href="main_pagev7">< Main page</a><p>
     
  
	</div>
</div>
</main>
{{/content}}

{{/layout}}
