{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
    <article>
      <div class="grid-wrapper">
        <div class="grid">
          <div class="inner-block">
            <ul id="breadcrumbs" class="breadcrumbs"></ul>            <div class="hello-banner">
              <h1 class="heading-large">Tax Credits Change of Circumstances</h1>
              <h1 class="heading-medium">Tell us about changes</h1>
              <p>Use the following sections to tell us about changes to your circumstances. You will need to confirm your changes before sending.</p>
            </div>          </div>
        </div>
      </div>
      
          <div class="inner-block">
            <ul class="navigation-list">
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Personal details</span> <span class="nav-detail">Your and your partner's details</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Employment</span> <span class="nav-detail">Current employment: Tesco and 1 other</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Income</span> <span class="nav-detail">You currently have an income of &pound;136.20 per month</span></a></h1>
                </li>

                <li class="service-name">
                    <h1 class="heading-small"><a href="childrenv5"/><span class="nav-title">Children</span> <span class="nav-detail">You have 2 children: Jillian and John</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Childcare</span> <span class="nav-detail">You have 2 childcare providers: Little Tots and Parkside</span></a></h1>
                </li>
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Report a death</span> <span class="nav-detail">Tell us if someone in your household has died</span></a></h1>
                </li>
               
            </ul> 
          </div>
   
    </article>
  </main>

{{/content}}

{{/layout}}
