{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
    <article>
      <div class="grid-wrapper">
        <div class="grid">
          <div class="inner-block">
            <ul id="breadcrumbs" class="breadcrumbs"></ul>            <div class="hello-banner">
              <h1 class="heading-large">Tax Credits Change of Circumstances</h1>
              <h1 class="heading-medium">Tell us about a change</h1>
            </div>          </div>
        </div>
      </div>
      <div class="grid-wrapper">
        <div class="grid grid-2-3">
          <div class="inner-block">
            <ul class="navigation-list">
                <li class="service-name">
                    <h1 class="heading-small"><a href="/content/personalDetails"/><span class="nav-title">Personal details</span> <span class="nav-detail">Your and your partner's details</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href="/content/employmentDetails"/><span class="nav-title">Employment</span> <span class="nav-detail">Current employment: Tesco and 1 other</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href="/content/benefits"/><span class="nav-title">Income</span> <span class="nav-detail">You currently have an income of &pound;136.20 per month</span></a></h1>
                </li>

                <li class="service-name">
                    <h1 class="heading-small"><a href="/content/taxCredits"/><span class="nav-title">Children</span> <span class="nav-detail">You have 2 children: John and Jenny</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href="/content/nationalInsurance"/><span class="nav-title">Childcare</span> <span class="nav-detail">You have 2 childcare providers: Little Tots and Parkside</span></a></h1>
                </li>
                <li class="service-name">
                    <h1 class="heading-small"><a href="/content/pension"/><span class="nav-title">Report a death</span> <span class="nav-detail">Tell us if someone in your household has died</span></a></h1>
                </li>
               
            </ul> 
          </div>
        </div>
        <div class="grid grid-1-3">
          <div class="inner-block">
            

            <div class="tab-content active" id="messages">
              <div class="notifications">
       <p>You will need to confirm your changes before sending.</p>
       <p></p>
      </div>
      <br>
      <div class="tab-content active" id="messages">
              <div class="notifications">
          <div class="notice">
              <div class="notice-info">
                  <h3 class="heading-small first">Your Child Benefit payments will stop on 31 August 2014</h3>
                  <div class="panel" style="display: none">
                      Your Child Benefit payment will stop after your child's 16th birthday unless they stay in approved education or training.
                      <div class="panel-indent"><a href="">Report a change to your child's plans after 16</a></div>
                      <a class="close">Delete</a>
                  </div>
              </div>
          </div>
          <div class="notice">
              <div class="notice-info">
                  <h3 class="heading-small first">Your tax credit payments have decreased</h3>
                  <div class="panel" style="display: none">Your tax credits payments have decreased due to a change in the number of hours you work.
                      <div class="panel-indent"><a data-accordion="taxcredits" class="anchorLink" href="#benefits">Check your tax credits details</a></div>
                      <a class="close">Delete</a>
                  </div>
              </div>
          </div>
          <div class="notice">
              <div class="notice-info">
                  <h3 class="heading-small first">Check your new employment details are correct</h3>
                  <div class="panel" style="display: none">Your employment details have changed. This may affect your tax code.
                      <div class="panel-indent"><a class="anchorLink" href="#employ" data-accordion="employer">View your employment and incomes</a></div>
                      <a class="close">Delete</a>
                  </div>
              </div>
          </div>
          <div class="no-notice" style="display: none">
              <div class="">
                  <h3 class="heading-small first">You have no new messages</h3>
              </div>
          </div>
          <div class="manage-notices">
              <h3>
                  <a href="manage-tasks">View all messages</a>
                  <span class="count-messages">
                      <span class="count"></span> 
                      unread
                  </span>
              </h3>
          </div>
      </div>
  </div></div>
            <div class="tab-content" id="completed">
              Completed content here</div>

          </div>
        </div>
      </div>
    </article>
  </main>

{{/content}}

{{/layout}}
