{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
		<h1 class="heading-large">Tax Credits change of circumstances</h1>
		<h2 class="heading-medium">Add a new child</h2>
		<form action="" method="post" class="form">
            <fieldset class="inline">
              <legend></legend>
              
              <!--div4  start--><div class="form-group">
          <label for="company-name" class="form-label"><span class="bold-small">Child's name</span></label>
              <input type="text" class="form-control" id="company-name">
            <!--div4  end--></div>
            </fieldset>
               <fieldset class="inline">
              <legend></legend>
              
              <!--div4  start--><div class="form-group">
          <label for="company-name" class="form-label"><span class="bold-small">Date of Birth</span></label>
              <input type="text" class="form-control" id="company-name">
            <!--div4  end--></div>
            </fieldset>

              <fieldset class="inline">

    <legend class="form-label"><span class="bold-small">Have you been responsible for them from birth?</span></legend>

    <div class="form-group form-group-compound">

      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" name="radio-inline-group1" value="Yes" type="radio"> Yes
      </label>

      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" name="radio-inline-group1" value="No" type="radio"> No
      </label>
    </fieldset>
       <fieldset class="inline">

    <legend class="form-label"><span class="bold-small">Are they disabled?</span></legend>

    <div class="form-group form-group-compound">

      <label class="block-label" for="radio-inline-3">
        <input id="radio-inline-3" name="radio-inline-group2" value="Yes" type="radio"> Yes
      </label>

      <label class="block-label" for="radio-inline-4">
        <input id="radio-inline-4" name="radio-inline-group2" value="No" type="radio"> No
      </label>


    </div>

  </fieldset>
          <br>
 <p><a class="button" href="new_child_summaryv5">Continue</a></p>

 <p class="text"><a href="childrenv5">Back</a></p>

	 <!-- main content ends -->
	</div>
</div>

</main>
{{/content}}

{{/layout}}
