{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
		<h1 class="heading-large">Tax Credits change of circumstances</h1>
    <div class="confirmation">
          <h2 class="heading-medium"><img src="/public/icons/tick.png" style="padding: 0 10px 0 0" alt="">Your changes have been sent</h1>
          
              </div>
    
            <h3 class="heading-small">What happens next?</h3>
        <p>Your changes are now being processed by HMRC. You can see an estimate of how your changes will affect your payments on the next screen.</p>
        <p>In two days time you can sign into your <a href="">Personal tax account</a> and see the actual change to your tax credits payments.</p>
    
        <a class="button" href="#">View payments estimate</a>
		

	</div>
</div>
</main>
{{/content}}

{{/layout}}
