{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
		<h1 class="heading-large">Tax Credits change of circumstances</h1>
    <div class="confirmation">
          <h2 class="heading-medium"><img src="/public/icons/tick.png" style="padding: 0 10px 0 0" alt="">We have received your changes</h1>
                        </div>
    <br>
    <h3 class="heading-small">You can</h3>
          <ul class="list-bullet"><li><a href="main_pagev4">Tell us about another change</a></li></ul>
        <h4 class="heading-xsmall">Other changes you might want to tell us about</h4>
        <p class="text">You've added a new child</p>

        <ul class="list-bullet"><li><a href="">has your childcare changed?</a></li></ul>

    
       
		
  <h3 class="heading-small">What happens next?</h3>
        <p>Your changes are now being processed by HMRC. You can see an <a href="">estimate of how your changes will affect your payments</a> on the next screen.</p>
        <p>In two days time you can sign into your <a href="">Personal tax account</a> and see the actual change to your tax credits payments.</p>
        <p><a class="button" href="#">Finish</a></p>
	</div> 
</div>
</main>
{{/content}}

{{/layout}}
