{{<layout}}

{{$pageTitle}}
    National Insurance Class 2 Reform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>includes/alpha_banner}}



    <h1 class="heading-xlarge info-display">Change dates</h1>
    <div class="grid-row">
        <div class="column-two-thirds">
            <form method="post">
                <legend class="form-label-bold">Which date would you like to change?</legend>
                <div class="form-group">
                    <label class="block-label" for="radio-1">
                        <input id="radio-1" type="radio" name="radio-group" value="start-date">Start date
                    </label>
                    <label class="block-label" for="radio-2">
                        <input id="radio-2" type="radio" name="radio-group" value="end-date">End date
                    </label>
                    <p class="form-block">or</p>
                    <label class="block-label" for="radio-3">
                        <input id="radio-3" type="radio" name="radio-group" value="both-dates">Both dates
                    </label>
                </div>

                <div class="form-group">
                    <button class="button" type="submit">Continue</button>
                </div>

            </form>

                           <a href="javascript:history.go(-1)">Back</a>
        </div>
        <div class="column-third"></div>




    </div>

</main>
{{/content}}
{{/layout}}