{{<layout}}

{{$pageTitle}}
    National Insurance Class 2 Reform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>includes/alpha_banner}}


    <h1 class="heading-xlarge info-display">Current liability</h1>
    <div class="grid-row">
        <div class="column-half">
            <div class="amounts">
                <p><span class="bold-xlarge" style="color: #2B8CC4"></style>£106.40</span>
                <br /><span class="heading-small">Tax year April 2014 - April 2015</span></p>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">Periods of self-employment</h2>
            <table>
                <thead>
                    <tr>
                        <th width="35%">From date</th>
                        <th width="35%">To date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6th April 2014</td>
                        <td>18th June 2014</td>
                        <td><a class="" href="/version/edit-dates" style="float: right">Change dates</a></td>
                    </tr>
                    <tr>
                        <td>11th August 2014</td>
                        <td>5th April 2015</td>
                        <td><a class="" href="/version/edit-dates" style="float: right">Change dates</a></td>
                    </tr>

                </tbody>
            </table>
            {{! <p class="font-xsmall" style="margin-top: 2em">If these details are wrong, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries" target="_blank">contact the Tax Credits Office (opens in a new window)</a>.</p> }}
        </div>




    </div>


</main>
{{/content}}
{{/layout}}