{{<layout}}

{{$pageTitle}}
    National Insurance Class 2 Reform
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>includes/alpha_banner}}


    <h1 class="heading-xlarge info-display">Check your changes</h1>
    <div class="grid-row">
        <div class="column-two-thirds">

            {{#has-work-and-hours-changes}}

                <!--<h2 class="heading-36">Work and hours</h2>-->
                {{>includes/confirm-and-send/edit-employment-summary}}
                {{>includes/confirm-and-send/started-a-job}}
                {{>includes/confirm-and-send/date-of-change-summary}}
                {{>includes/confirm-and-send/stopped-date-summary}}
                {{!>includes/confirm-and-send/started-a-job-self}}
                {{>includes/confirm-and-send/change-working-hours}}
                {{>includes/confirm-and-send/change-income}}
            {{/has-work-and-hours-changes}}





            <form method="post">


            <div class="form-group">
                    <a href=""><button class="button" type="submit" value="Continue">Continue</button></a>
                </div>

            </form>

            <a href="javascript:history.go(-1)">Back</a>


        </div>
        <div class="column-third"></div>
    </div>

</main>
{{/content}}
{{/layout}}


