{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>EMI/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

					<h1 class="heading-xlarge">Submit your Enterprise Management Incentives annual return</h1>
					{{>EMI/includes/start}}


					<a class="button button-get-started" href="/EMI/tax-year" role="button">Start now</a>


                </div>
            </div>

        </main>

{{/content}}
{{/layout}}
