{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	<div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
{{>sub_header_CSOP}}
		<h1 class="heading-large">Error report</h1>
		<h2 class="heading-medium">Your spreadsheet contains formatting errors.</h2>
								<!--<div class="icon-important" style="display: inline-block; float: left"></div>
								<div style="display: inline-block; padding-left: 10px; float: left">
							<p class="text bold-small">Your spreadsheet contains formatting errors.</p>
							</div>-->
							

							<div style="clear:both; border-bottom: 1px solid #bfc1c3">
								
								<a class="button medium" id="btnValidation" type="button" href="/public/pdf/errors_report_CSOP.pdf" target="_blank" title="Opens new window">View error report (PDF, 500KB)</a>
							<p class="text">You can also <a href="scenario2_5_Errors_CSOP">view this error report as a web page</a>.</p>
							</div>								
						<div>
							<p class="text"></p>
							<h2 class="heading-medium">What happens next?</h2>
								
								<p class="text"><a href="check_scenario3_3">Upload your corrected spreadsheet</a></p>
						
</div>
						

 <!-- main content ends -->
	</div>
</div>
</div>

</main>
{{/content}}

{{/layout}}
