{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	<div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
{{>sub_header_CSOP}}
		<h1 class="heading-large">Success</h1>
								<div class="confirmation">
					<p class="heading-medium">Your spreadsheet contains no formatting errors</p>
					</div>
					<br>
					<p class="text">
              <a class="button" href="group_scenario3_5">Continue</a>
            </p>
            <p class="text"><a href="check_scenario3_3">Back</a></p>    

 <!-- main content ends -->
	</div>
</div>

</main>
{{/content}}

{{/layout}}
