{{<layout}}

{{$pageTitle}}Your Company Share Option Plan{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
	{{>sub_header_CSOP}}
		{{>start_CSOP}}
	 <p class="text">
	<a class="button button-get-started" href="what_scenario2_2">Start now</a>
	</p>		
	 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
