{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
  <div class="outer-block">
   <div class="inner-block">
  <!-- main content starts -->
  {{>sub_header_CSOP}}
 {{>what_exchanges}}
            <p class="text">
              <a class="button" href="check_scenario2_3">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="start_scenario2">Back</a></p>


 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}
