{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
			<h1 class="heading-xlarge">Add covered company details</h1>

			<form method="post">
                <legend class="form-label">Where is the company registered?</legend>
                <div class="form-group">
                    <fieldset class="inline">
                        <label class="block-label" for="radio-inline-1">
                            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="yes" checked="checked">UK
                        </label>
                        <label class="block-label" for="radio-inline-2">
                            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="no">Overseas
                        </label>
                    </fieldset>
                </div>

                <fieldset>
                    <div class="form-group">
                        <label for="company-name" class="form-label">Company name</label>
                        <input type="text" class="form-control" id="company-name">
                    </div>
                    <div class="form-group">
                        <label for="company-address1" class="form-label">Address</label>
                        <input type="text" class="form-control" id="company-address1">
                    </div>
                    <div class="form-group">
                        <label for="company-address2" class="form-label"></label>
                        <input type="text" class="form-control" id="company-address2">
                    </div>
                    <div class="form-group">
                        <label for="company-address3" class="form-label"></label>
                        <input type="text" class="form-control" id="company-address2">
                    </div>
                    <div class="form-group">
                        <label for="company-address3" class="form-label"></label>
                        <input type="text" class="form-control" id="company-address2">
                    </div>
                    <div id="zip" class="form-group">
                        <label for="postcode-name" class="form-label">Postcode</label>
                        <input type="text" class="form-control form-control-1-8" id="postcode-name" maxlength="8">
                    </div>
                </fieldset>

                <fieldset id="countryname">
                    <legend class="form-label">Country</legend>
                    <div class="form-group" >
                        <input class="form-control">
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group" id="crn">
                        <label for="crn-name" class="form-label">Company Registration Number (optional)</label>
                        <span class="text form-hint">It's an 8 digit number or 2 letters followed by a 6 digit number, issued by Companies House. For example, 12345678 or AB123456.</span></label>
                        <input type="text" class="form-control form-control-1-4" id="crn-name">
                    </div>

                    <div class="form-group" id="ctr">
                        <label for="ctr-name" class="form-label">Corporation Tax Reference (optional)</label>
                        <span class="text form-hint">It's a 10 digit number issued by HM Revenue and Customs, usually used in company tax returns. For example, 1234567890.</span></label>
                        <input type="text" class="form-control  form-control-1-4" id="ctr-name">
                    </div>
                </fieldset>

                <div class="form-group">
                    <a class="button" href="other-companies-manual">Continue</a>
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
<script>
$("#countryname").hide();
$("#radio-inline-1").on('click', function() {
  $("#country-name").hide();
  $("#crn").show();
  $("#ctr").show();
  $("#zip").hide();
});
</script>

<script>
$("#radio-inline-2").on('click', function() {
  $("#countryname").show();
  $("#crn").hide();
  $("#ctr").hide();
  $("#zip").hide();
});
</script>

<script>
$("#radio-inline-1").on('click', function() {
  $("#countryname").hide();
  $("#crn").show();
  $("#ctr").show();
  $("#zip").show();
});
</script>