{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
		<div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
			<h1 class="heading-xlarge">Choose your files</h1>


            <p>Choose the comma seperated values (.csv) files you need to upload as part of your Other annual return. </p>

            <form>
                <fieldset>
                    <legend class="visuallyhidden">Choose which CSV files</legend>

                    <div class="form-group">
                        <label class="block-label" for="csv-type-1">
                            <input id="csv-type-1" name="csv-type" type="checkbox" value="other-grants">Grant of securities options, including Restricted Stock Units (RSUs)
                        </label>
                        <label class="block-label" for="csv-type-2">
                            <input id="csv-type-2" name="csv-type" type="checkbox" value="other-options">Other option events, including conditional awards
                        </label>
                        <label class="block-label" for="csv-type-3">
                            <input id="csv-type-3" name="csv-type" type="checkbox" value="other-acquisition">Acquisition of securities
                        </label>
                        <label class="block-label" for="csv-type-4">
                            <input id="csv-type-4" name="csv-type" type="checkbox" value="other-restrictedsecurities">Restricted securities post acquisition events
                        </label>
                        <label class="block-label" for="csv-type-5">
                            <input id="csv-type-5" name="csv-type" type="checkbox" value="other-otherbenefits">Receipt of other benefits from securities post acquisition
                        </label>
                        <label class="block-label" for="csv-type-6">
                            <input id="csv-type-6" name="csv-type" type="checkbox" value="other-convertible">Convertible securities post-acquisition
                        </label>
                        <label class="block-label" for="csv-type-7">
                            <input id="csv-type-7" name="csv-type" type="checkbox" value="other-notional">Discharge of notional loans post-acquisition
                        </label>
                        <label class="block-label" for="csv-type-8">
                            <input id="csv-type-8" name="csv-type" type="checkbox" value="other-enhancement">Artificial enhancement of market value
                        </label>
                        <label class="block-label" for="csv-type-9">
                            <input id="csv-type-9" name="csv-type" type="checkbox" value="other-sold">Securities sold for more than market value post acquisition
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <a class="button" href="upload-csv">Continue</a>
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}