{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <h1 class="heading-xlarge">Are any other companies included in this return?</h1>

           
<span class="form-hint">If the company that set up this scheme is part of a group of companies, the return may include the shares and employees of any of the companies within that group.</span> 
            <form method="post">
                <div class="form-group">
                    <fieldset class="inline">
                        {{! <legend class="form-label">Are any other companies included in this return?</legend> }}
                        <label class="block-label" for="yes">
                            {{! <input id="yes" type="radio" value="qualifying-company-details" name="next-page"></input>Yes }}
                            <input id="yes" type="radio" value="add-company-details" name="next-page"></input>Yes

                        </label>
                        <label class="block-label" for="no">
                            <input id="no" type="radio" value="summary-no" name="next-page"></input>No
                        </label>
                    </fieldset>
                </div>

                <div class="form-group">
                    <button class="button">Continue</button>
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}