{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight space">
                {{! <h1 class="heading-xlarge"> Confirmation</h1> }}
                <h1 class="heading-xlarge"><img src="public/images/icons/tick.png"> Your Other annual return has been submitted
                <br /><span class="heading-large">for tax year 2014 to 2015</span></h1>
                <p class="lede">Reference code and time:
                <br />XY11 0000 0608 980
                <br />15 July 2015, 3:54 pm</p>
            </div>

          {{!   <p>You can download confirmation as a PDF (it will open in a new window or tab).</p>
            <a class="button medium" id="btnValidation" type="button" href="public/pdf/receipt_OTHER.pdf" target="_blank" title="Opens new window">Download confirmation (PDF, 500KB)</a>

            <hr /> }}

            <h2 class="heading-medium">What happens next</h2>
            <p>Allow 48 hours before you use HMRC Online services to check the status of your submission in Employment Related Securities (View schemes and arrangements).</p>

            <p><a href="start">Submit another return</a></p>

            <p><a href="start">What did you think of this service?</a> (takes 30 seconds)</p>

        </div>
    </div>

{{/main}}
{{/layout}}