{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Submit your Other annual return (Other - Form 42)</h1>

            <h2 class="heading-medium">No Errors</h2>
            <p><a href="start">OTHER scheme with no errors</a></p>

            <h2 class="heading-medium">With Errors</h2>
            <p><a href="errors/start">OTHER scheme with errors</a></p>

        </div>
    </div>

{{/main}}
{{/layout}}