{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <h1 class="heading-xlarge">Your annual return is nearly complete</h1>

            <p>Check the information you’ve provided before you submit your return.</p>

            <table class="space">
                <thead>
                    <tr>
                        <th>Section</th>
                        <th>Your answers</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Are any other companies covered by this return?</td>
                        <td>No</a></td>
                        <td><a href="companies-included">Change</a></td>
                    </tr>

                </tbody>
            </table>

            <div class="panel panel-border-wide space">
                <p>The company secretary, or the person acting as the company secretary, agrees that the information submitted is correct and complete.</p>
            </div>

            <div class="form-group">
                <a class="button" href="confirmation">Accept and submit</a>
            </div>

        </div>
    </div>

{{/main}}

{{/layout}}