{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}



<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
   {{>sub_header_CSOP}}
<h1 class="heading-large">Upload your spreadsheets</h1>
 <!-- radio buttons start -->
    

    <table style="width: 80%;">
        <tr><th>File name</th><th>Status</th><th>Action</th></tr>
        <tr><td>ExampleCompanyCSOP1.ods</td><td>Ready to upload</td><td><a href="">Remove file</td></tr>
        
      </table>
<br>
<p><a href="checking_multiple4">Add another spreadsheet</a></p>

          <br>
              <a class="button" href="/errors_scenario2_4">Upload spreadsheets</a>
            </p>    
          </form>
          <p class="text"><a href="what_scenario3_2_test">Back</a></p>
        </div>


 <!-- main content ends -->
 </div>
  </div>
</main>
{{/content}}

{{/layout}}
