{{<layout}}

{{$pageTitle}}Checking Service - HMRC{{/pageTitle}}
{{$afterHeader}}
  
{{/afterHeader}}
{{$propositionHeader}}
     {{>propositional_navigation_2}}
{{/propositionHeader}}
 
{{$headerClass}}with-proposition{{/headerClass}}
{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	<div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
<!--<h3 class="heading-xsmall">Employment Related Securities (ERS)</h3>-->
<h1 class="heading-large">Error report</h1>
								<div class="icon-important"></div>
								<div style="display: inline-block; padding-left: 10px; float: left">
							<p class="text bold-small">Your spreadsheet contains formatting errors.</p>
							</div>
							<div style="clear:both; border-bottom: 1px solid #bfc1c3">
								<p class="text">View and then save your copy of the error report PDF.</p>
								<a class="button medium" id="btnValidation" type="button" href="/public/pdf/errors_report_CSOP.pdf" target="_blank" title="Opens new window">View error report (PDF, 500k)</a>
								
       <br>   
            <!--<span class="font-xsmall">opens in a new window</span>-->
       
							<p class="text">You can also <a href="error_webpage">view this error report as a web page</a>.</p>
							</div>								
						<div>
							<p class="text"></p>
							<div class="text">
							<h2 class="heading-medium">What happens next?</h2>
								<p class="text">Correct the formatting errors in your spreadsheet before you check it again or <a href="select_scheme_scenario2_2">check a different ERS scheme or arrangement spreadsheet</a>.</p>
								<br>
								<br>
								<br>
								<br>
							<p><a href="errors_scenario1_5">(Development link to show what page will look like once the errors have been accessed)</a></p>
							

</div>
					
 <!-- main content ends -->
	</div>
</div>
</div>


</main>
{{/content}}

{{/layout}}
