{{<layout_cs}}

{{$pageTitle}}
  Checking Service
{{/pageTitle}}

{{$content}}

  	<main id="content" role="main">

		{{>includes/alpha_banner}}

		<div class="grid-row">
			<div class="column-two-thirds">

			  	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

				<h1 class="heading-xlarge">Error report</h1>

				<div class="panel-indent">
					<i class="icon icon-important" ></i> Your spreadsheet contains formatting errors.
				</div>

				<div>
					<p>View and then save your copy of the error report PDF.</p>
					<a class="button medium" id="btnValidation" type="button" href="/public/pdf/errors_report_EMI.pdf" target="_blank" title="Opens new window">View error report (PDF, 500k)</a>
					<br />You can also <a href="error_webpage">view this error report as a web page</a>.</p>
				</div>

				<hr />

				<h2 class="heading-medium">What happens next?</h2>
				<p>Correct the formatting errors in your spreadsheet before you check it again or <a href="tax-year">check a different ERS scheme or arrangement spreadsheet</a>.</p>

		  	</div>
		</div>

	</main>

{{/content}}
{{/layout_cs}}