{{<layout_cs}}

{{$pageTitle}}
	Checking Service
{{/pageTitle}}

{{$content}}


	<main id="content" role="main">
		{{>includes/alpha_banner}}

		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">Check your ERS files</h1>
				<p class="lede">Use this service to check for formatting errors in the spreadsheet or comma separated values (CSV, .csv) files that you need to upload as part of your Employment Related Securities (ERS) annual return.</p>

				<h2 class="heading-medium">Before you start</h2>
				<p>You'll need to know which type of ERS scheme or arrangement the file is for.</p>
				<p>If you are checking a spreadsheet it needs to be an OpenDocument Spreadsheet (.ods file).</p>
				<p>The time it takes to check a file depends on the speed of your internet connection and the size of your spreadsheet or CSV file.</p>

				<a class="button button-get-started" href="tax-year">Start now</a>
			</div>

		</div>
	</main>

{{/content}}
{{/layout_cs}}
