{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
  <div class="outer-block">
   <div class="inner-block">
{{>sub_header_CSOP}}
<h1 class="heading-large">Choose what you want to do</h1>
 <!-- radio buttons start -->
          <p class="text">You can:</p>

                <ul class="text list-bullet"><li>upload a spreadsheet if options have been granted, exercised, released (including exchanges), lapsed or cancelled during the tax year</li>
                  <li>declare a nil return if no options have been granted, exercised, released (including exchanges), lapsed or cancelled during the tax year</li></ul>
                   <div class="form-block">
          <!-- <details>
            <summary><span class="summary">What are reportable events?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about reportable events.
              </p>
            </div>
          </details>-->
<form action="" method="post" class="form">
            <fieldset class="inline">
              <legend></legend>
              
              <div class="form-group">
             

                <label for="radio-2" class="block-label">
                  <input id="radio-2" type="radio" name="radio-group" value="Complete a return">
                  Upload a spreadsheet
                </label>
                <label for="radio-1" class="block-label">
                  <input id="radio-1" type="radio" name="radio-group" value="start">
                  Declare a nil return<br>
                </label>
                </div>
            </fieldset>
           
            <p class="text"></p>
          </div>

            <p class="text">
              <a class="button" href="checking_scenario3_3">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="checking_start_scenario3">Back</a></p>


 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}
