{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>OTHER/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

					<h1 class="heading-xlarge">Submit your Other annual return</h1>
					{{>OTHER/errors/includes/start}}
					<a class="button button-get-started" href="/OTHER/errors/reportable-events" role="button">Start now</a>

                </div>
            </div>

        </main>

{{/content}}
{{/layout}}
