{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>OTHER/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">


                    <h1 class="heading-xlarge">Upload your files</h1>
                    <p>Choose the comma separated values (CSV, .csv) files that you want to upload as part of your Other annual return.</p>

                <div class="text panel-indent">
                    You can only upload CSV (.csv) files.
                </div>

                <form method="post">
                    <div id="question1" class="form-group">
                        <p class="form-label-bold">Grant of securities options, including Restricted Stock Units (RSUs)</p>
                        <div id="browsefilebox" class="question-body">
                            <div class="form1">
                                <input id="selectFile" type="file" name="somename" size="chars">
                                {{! <div id="selectedFileName">&nbsp;</div> }}
                            </div>
                        </div>
                    </div>

                    <div id="question1" class="form-group">
                        <p class="form-label-bold">Other option events, including conditional awards. Options lapsed for nil consideration should not be included</p>
                        <div id="browsefilebox" class="question-body">
                            <div class="form1">
                                <input id="selectFile" type="file" name="somename" size="chars">
                            {{! <div id="selectedFileName">&nbsp;</div> }}
                            </div>
                        </div>
                    </div>

                    <div id="question1" class="form-group">
                        <p class="form-label-bold">Aquisition of securities</p>
                        <div id="browsefilebox" class="question-body">
                            <div class="form1">
                                <input id="selectFile" type="file" name="somename" size="chars">
                                {{! <div id="selectedFileName">&nbsp;</div> }}
                            </div>
                        </div>
                    </div>

                    <div id="question1" class="form-group">
                        <p class="form-label-bold">Restricted securities post aquisition events</p>
                        <div id="browsefilebox" class="question-body">
                            <div class="form1">
                                <input id="selectFile" type="file" name="somename" size="chars">
                                {{! <div id="selectedFileName">&nbsp;</div> }}
                            </div>
                        </div>
                    </div>

                    <div id="question1" class="form-group">
                        <p class="form-label-bold">Receipt of other benefits from securities post aquisition</p>
                        <div id="browsefilebox" class="question-body">
                            <div class="form1">
                                <input id="selectFile" type="file" name="somename" size="chars">
                                {{! <div id="selectedFileName">&nbsp;</div> }}
                            </div>
                        </div>
                    </div>

                    <div id="question1" class="form-group">
                        <p class="form-label-bold">Convertible securities post-aquisition</p>
                        <div id="browsefilebox" class="question-body">
                            <div class="form1">
                                <input id="selectFile" type="file" name="somename" size="chars">
                                {{! <div id="selectedFileName">&nbsp;</div> }}
                            </div>
                        </div>
                    </div>

                    <div id="question1" class="form-group">
                        <p class="form-label-bold">Discharge of notional loans post-aquisition</p>
                        <div id="browsefilebox" class="question-body">
                            <div class="form1">
                                <input id="selectFile" type="file" name="somename" size="chars">
                                {{! <div id="selectedFileName">&nbsp;</div> }}
                            </div>
                        </div>
                    </div>

                    <div id="question1" class="form-group">
                        <p class="form-label-bold">Artificial enhancement of market value. Value of securities post aquisition</p>
                        <div id="browsefilebox" class="question-body">
                            <div class="form1">
                                <input id="selectFile" type="file" name="somename" size="chars">
                                {{! <div id="selectedFileName">&nbsp;</div> }}
                            </div>
                        </div>
                    </div>

                    <div id="question1" class="form-group">
                        <p class="form-label-bold">Securities sold for more than market value post aquisition</p>
                        <div id="browsefilebox" class="question-body">
                            <div class="form1">
                                <input id="selectFile" type="file" name="somename" size="chars">
                                {{! <div id="selectedFileName">&nbsp;</div> }}
                            </div>
                        </div>
                    </div>

                    <input id="input-file-name" type="file" name="file[]" style="display:none;" multiple/>

                    <div class="form-group">
                        <a class="button" href="/OTHER/errors/error-report">Upload files</a>
                    </div>
                </form>

                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}