{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
<main id="content" role="main">
  <div class="outer-block">
  <div class="inner-block">
     <h1 class="heading-xlarge">Employment Related Securities (ERS)</h1>
     <h2 class="heading-large">End of year returns preview</h2>
<p class="text">This page contains links to example scenarios for the ERS end of year returns service. Each scenario may include pages that could change before the service is made live. This preview is for informational purposes only.</p>
     
    
    <h3 class="heading-medium">Company Share Option Plan (CSOP - Form 35) </h3>
       <ul class="text list-bullet">
         <li><a href="CSOP/scenario1_0_Start_CSOP">Scenario 1 - Nil return</a></li>
         <li><a href="CSOP/scenario1_0_Start_CSOP">Scenario 2 - Complete a return (no errors)</a></li>
         <li><a href="CSOP/scenario1_0_Start_CSOP_ERRORS">Scenario 3 - Complete a return (errors)</a></li>
       </ul>

    <h3 class="heading-medium">Enterprise Management Incentives (EMI - Form EMI40)</h3>
      <ul class="text list-bullet">
        <li><a href="/EMI/scenario1_0_Start_EMI">Scenario 1 - Nil return</a></li>
        <li><a href="/EMI/scenario1_0_Start_EMI">Scenario 2 - Complete a return (no errors)</a></li>
        <li><a href="/EMI/scenario1_0_Start_EMI_ERROR">Scenario 3 - Complete a return (errors)</a></li>
      </ul>

    <h3 class="heading-medium">Save As Your Earn (SAYE - Form 34) </h3>
      <ul class="text list-bullet">
        <li><a href="/SAYE/scenario1_0_Start_SAYE">Scenario 1 - Nil return</a></li>
        <li><a href="/SAYE/scenario1_0_Start_SAYE">Scenario 2 - Complete a return (no errors)</a></li>
        <li><a href="/SAYE/scenario1_0_Start_SAYE_ERRORS">Scenario 3 - Complete a return (errors)</a></li>
  </ul>

    <h3 class="heading-medium">Share Incentive Plan (SIP - Form 39)</h3>
     <ul class="text list-bullet">
      <li><a href="/SIP/scenario1_0_Start_SIP">Scenario 1 - Nil return</a></li>
      <li><a href="/SIP/scenario1_0_Start_SIP">Scenario 2 - Complete a return (no errors)</a></li>
      <li><a href="/SIP/scenario1_0_Start_SIP_ERRORS">Scenario 3 - Complete a return (errors)</a></li>
  </ul>

  <h3 class="heading-medium">Other (Form 42)</h3>
     <ul class="text list-bullet">
      <li><a href="/OTHER/scenario1_0_Start_OTHER">Scenario 1 - Nil return</a></li>
      <li><a href="/OTHER/scenario1_0_Start_OTHER">Scenario 2 - Complete a return (no errors)</a></li>
      <li><a href="/OTHER/scenario1_0_Start_OTHER_ERROR">Scenario 3 - Complete a return (errors)</a></li>
  </ul>


</div>
</div>
</main>
{{/content}}

{{/layout}}
