{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
		<div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
			<h1 class="heading-xlarge">Choose the next file you want to upload</h1>

             <div class="panel panel-border-wide space">
                <p>You have uploaded:</p>
                <ul class="list">
                    <li>CSOP_OptionsGranted.csv</li>
                </ul>
            </div>

            {{! <div class="panel panel-border-wide space">
                <p><img src="public/images/icons/icon-tick.png" /> EMI40_AdjustmentOptions.csv has been uploaded.</p>
            </div> }}

             <h2 class="heading-small">Files you still need to upload</h2>
            <ul class="list space">
               <li>Options and replacement options exercised</li>
            </ul>
            {{! <p>Choose the next file you want to upload as part of your Company Share Option Plan annual return.</p> }}

            {{! <div class="panel panel-border-wide space">
                <p>You can only upload CSV (.csv) files.</p>
                <p><a href="#">Contact us on our feedback page</a> if your file is larger than 10MB.</p>
            </div> }}


            <form method="post">
                <div class="form-group">
                    <div class="upload">
                        <div class="column-two-thirds">
                            <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
                            <label for="file">Choose a file</label>
                        </div>
                        <div class="column-one-third">
                            <a class="button" href="upload-next-b-csv">Upload</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}