{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
		<div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
			<h1 class="heading-xlarge">If there are no errors in these files, you'll add the scheme organiser's details next</h1>

            <div class="panel panel-border-wide space">
                <p>You have uploaded:</p>
                <ul class="list">
                    <li>CSOP_OptionsGranted.csv</li>
                    <li>CSOP_OptionsExercised.csv</li>
                </ul>
            </div>

            {{! <p>If there are no errors in these files, you'll add the scheme organiser's details next.</p> }}

            <div class="form-group">
                <a class="button" href="errors">Continue</a>
            </div>

        </div>
    </div>

{{/main}}
{{/layout}}