{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
		<div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
			<h1 class="heading-xlarge">Upload your first file</h1>

            <div class="panel panel-border-wide space">
                <p><a href="#">Contact us on our feedback page</a> if any of your files are larger than 100MB.</p>
            </div>

             <h2 class="heading-small">Files you need to upload</h2>
            <ul class="list space">
                <li>Options granted</li>
                <li>Options and replacement options exercised</li>
            </ul>


            <p>Choose the first file you want to upload as part of your Company Share Option Plan annual return.</p>

            <form method="post">
                <div class="form-group">
                    <div class="upload">
                        <div class="column-two-thirds">
                            <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
                            <label for="file">Choose a file</label>
                        </div>
                        <div class="column-one-third">
                            <a class="button" href="upload-next-csv">Upload</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}