{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>emi/includes/reference}}

            <a href="javascript:history.go(-1)" class="link-back">Back</a>

			<h1 class="heading-xlarge">Your spreadsheet had formatting errors</h1>

            <p>You'll need to choose and check this file again to view a detailed error report</p>

            <div class="form-group">
                <a class="button" href="../../checking_service/choose-and-check">Choose and check</a>
            </div>


            <h2 class="heading-medium">What happens next?</h2>
                <p>Fix the errors before you use this service again or <a href="upload-spreadsheet">choose a different spreadsheet</a>.</p>



        </div>
    </div>


{{/main}}
{{/layout}}}