{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>emi/includes/reference}}

            <a href="javascript:history.go(-1)" class="link-back">Back</a>

            <h1 class="heading-xlarge">Check for formatting errors</h1>

            <p>If no errors are found, you'll add the employer company's details next.</p>

            <div class="form-group">
                <a class="button" href="errors-spreadsheet">Check for errors</a>
            </div>



        </div>
    </div>

{{/main}}
{{/layout}}