
  <!-- main content starts -->
   <h1 class="heading-large">Have alterations been made to 'key features' of this scheme?</h1>
 <!-- radio buttons start -->
          <div class="form-block">
            <div class="text panel-indent"><p class="text">
              A key feature is anything that is needed for the scheme to meet its legal requirements. For example, the eligibility of individuals to join the plan.
              </p></div>
           <!--<details>
            <summary><span class="summary">What do we mean by alterations?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about alterations or amends.
              </p>
            </div>
          </details>-->
<form action="" method="post" class="form">
            <fieldset class="inline">
              <legend></legend>
              
              <div class="form-group">

                <label for="radio-1" class="block-label">
                  <input id="radio-1" type="radio" name="radio-group" value="start">
                  Yes<br>
                </label>

                <label for="radio-2" class="block-label">
                  <input id="radio-2" type="radio" name="radio-group" value="Complete a return">
                  No
                </label>
                </div>
            </fieldset>
           
            <p class="text"></p>
          </div>
          