 <!--<h3 class="heading-xsmall">Employment Related Securities (ERS)</h3>-->
    <h1 class="heading-large">Which type of ERS scheme or arrangement is this spreadsheet for?</h1>
 <form action="" method="post" class="form">
            <fieldset>
              <legend></legend>
              
              <div class="form-group">

                <label for="radio-1" class="block-label">
                  <input id="radio-1" type="radio" name="radio-group" value="Company Share Option Plan (CSOP)">
                  Comma Separated Values (CSV)<br>
                </label>

                <label for="radio-2" class="block-label">
                  <input id="radio-2" type="radio" name="radio-group" value="Enterprise Management Incentives (EMI)">
                  Open Document Spreadsheet (ODS)
                </label>
                

                </div>
            </fieldset>