<!--<h3 class="heading-xsmall">Employment Related Securities (ERS)</h3>-->
		<h1 class="heading-large">Check your ERS files</h1>
		
	<p class="font-medium">Use this service to check for formatting errors in the spreadsheet that you need to upload as part of your ERS annual return.</p>

         <!-- <p class="text">Checking your spreadsheets regularly allows you to identify and then correct formatting errors. This makes it easier to submit your return at the end of the tax year.</p>-->
       
	 <h2 class="heading-medium">Before you start</h2>
	 <p class="text">You'll need to know which type of ERS scheme or arrangement the spreadsheet is for and know where the spreadsheet is stored.</p>
	  <p class="text">Your spreadsheet needs to be an OpenDocument Spreadsheet (ODS file).</p>
	   <!--<details>
            <summary><span class="summary">What is an OpenDocument Spreadsheet (.ods)</span></summary>
            <div class="panel-indent">
              <p class="text">
              ODS files are a type of spreadsheet that makes <a href="https://www.gov.uk/government/publications/open-standards-for-government/sharing-or-collaborating-with-government-documents">sharing or collaborating with government documents</a> easier. 
              </p>
            </div>
            </details>-->
            <!--<div class="text panel-indent"><p class="text">
              ODS files are a type of spreadsheet that makes <a href="https://www.gov.uk/government/publications/open-standards-for-government/sharing-or-collaborating-with-government-documents" rel="external">sharing or collaborating with government documents</a> easier. 
              </p></div>-->
           <p class="text">The time it takes to check a file depends on the speed of your internet connection and the size of your spreadsheet.</p>