<!--<h3 class="heading-xsmall">Employment Related Securities (ERS)</h3>-->
    <h1 class="heading-large">Upload your spreadsheets</h1>
    
  <p class="font-medium">Choose the spreadsheet or spreadsheets that you want to upload as part of your end of year Company Share Option Plan return.</p>

         <!-- <p class="text">Checking your spreadsheets regularly allows you to identify and then correct formatting errors. This makes it easier to submit your return at the end of the tax year.</p>-->
       
   
   <div class="text panel-indent"><p class="text">
              Your spreadsheets need to have been saved as Open Document Spreadsheet (ODS),  Comma Separated Values (CSV) or Microsoft Excel spreadsheet (XLS) files. If you're uploading multiple spreadsheets they must all be the same file type (ODS, CSV or XLS).
              </p></div>

              <div class="inner-block">
  <div id="question1" class="form-group">
                  <div id="browsefilebox" class="question-body">                 
                    <div class="form1">       
                      <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                      <!--<div id="btnHolder"><button id="selectFileBtn" class="button-secondary">Choose your file</button></div>-->
                      <div id="selectedFileName">&nbsp;</div>     
                    </div>                  
                  </div>
                </div>        

              <a class="button" href="nonjs_upload3">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="nonjs_upload1">Back</a></p>
        </div>