{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
	<h1 class="heading-large">Do you want to make another change?</h1>
 <!-- radio buttons start -->
          
                   <div class="form-block">
          <!-- <details>
            <summary><span class="summary">What are reportable events?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about reportable events.
              </p>
            </div>
          </details>-->
<form action="" method="post" class="form">
            <fieldset class="inline">
              <legend></legend>
              
              <div class="form-group">
             

                <label for="radio-2" class="block-label">
                  <input id="radio-2" type="radio" name="radio-group" value="Complete a return">
                 Yes
                </label>
                <label for="radio-1" class="block-label">
                  <input id="radio-1" type="radio" name="radio-group" value="start">
                  No<br>
                </label>
                </div>
            </fieldset>
             <p><a class="button" href="main_pagev5">Continue (Yes)</a></p>
<p><a class="button" href="summary">Continue (No)</a></p>
 <p class="text"><a href="new_child_summaryv5">Back</a></p>


	 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
