{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
  <div class="outer-block">
   <div class="inner-block">
		<h1 class="heading-large">Tax Credits change of circumstances</h1>
		 <div class="grid-wrapper">
            <div class="grid grid-1-3">

          <ul class="side-nav" id="details-nav" role="navigation" title="Link List">
                        <li role="menuitem"><a href="main_page">Personal Details</a></li>
                        <li role="menuitem"><a href="">Employment</a></li>
                        <li role="menuitem"><a href="income">Income</a></li>
                        <li role="menuitem"><a href="" class="active">Children</a></li>
                        <li role="menuitem"><a href="">Childcare</a></li>
                        
                    </ul>

      </div>
           
            <div class="grid grid-2-3">
           <h2 class="heading-medium">Children</h2>
       <p><a href="new_child">Add a new child</a></p>
<table>
          <tbody>
            <tr>
              <td>
                <p class="heading-small">Gillian Smith</p>
              </td>
              <td style="text-align: right;"><br><a href="">Change details</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Child has left home</a></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>17 November 2013</td>
            </tr>
       
            <tr>
              <td>
                <p class="heading-small">John Smith</p>
              </td>
              <td style="text-align: right;"><br><a href="">Change details</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Child has left home</a></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>17 March 2013</td>
            </tr>

          </tbody>
        </table>     
    </div>
</div>
</div>
</div>
</div>
</main>
{{/content}}

{{/layout}}
