{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	
    <div class="grid-wrapper">
            <div class="grid grid-2-3">
                <div class="inner-block">
		<p><a href="main_pagev4">< Main page</a><p>
    <h1 class="heading-large">Children</h1>
		
     
       <p><a href="new_childv5">Add a new child</a></p>
<table>
          <tbody>
            <tr>
              <td>
                <p class="heading-small">Gillian Smith</p>
              </td>
              <td style="text-align: right;"><br><a href="">Change details</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Child has left home</a></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>17 November 2013</td>
            </tr>
       
            <tr>
              <td>
                <p class="heading-small">John Smith</p>
              </td>
              <td style="text-align: right;"><br><a href="">Change details</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Child has left home</a></td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>17 March 2013</td>
            </tr>

          </tbody>
        </table> 
<br>
          <p class="text"><a href="main_pagev5">< Main page</a><p>
        </div>
                </div>  
    <div class="grid-wrapper">
            <div class="grid grid-1-3">
                <div class="inner-block">
                </div>
                </div>
  

       
        



	 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
