{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	 <div class="inner-block">
		<h1 class="heading-large">Tax Credits change of circumstances</h1>
<p>Tell us about any changes using the following sections</p>
               <div class="grid-wrapper">
            <div class="grid grid-1-3">
              <div class="inner-block">
               <ul class="side-nav" id="details-nav" role="navigation" title="Link List">
                        <li role="menuitem"><a href="main_pagev6">Personal and partner details</a></li>
                        <li role="menuitem"><a href="">Employment</a></li>
                        <li role="menuitem"><a href="">Income</a></li>
                        <li role="menuitem"><a href="childrenv6"  class="active">Children</a></li>
                        <li role="menuitem"><a href="">Childcare</a></li>
                        <li role="menuitem"><a href="">Bank details</a></li>
                        <li role="menuitem"><a href="">Report a death</a></li>
                        <li role="menuitem"><a href="">Other</a></li>
                        
                    </ul>
                </div>
              </div>
           
            <div class="grid grid-2-3">
              <div class="inner-block">
            <div id="childrenDetails" class="details-block">
    <h2 class="heading-medium">Children</h2>

    
    <p><a href="new_child">Add a child to your claim</a><br></p>
    <p><a href="">Remove a child from your claim</a><br></p>
     <p><a href="">Child is over 16 and in education or training</a></p>
     
    
 <!-- main content ends -->
	</div>
</div>
</div>
</div>
</div>
</div>
</main>
{{/content}}

{{/layout}}
