{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
   <div class="outer-block">
   <div class="inner-block">
      <div class="grid-wrapper">
        <div class="grid-3-4">
              <h1 class="heading-large">Tax Credits Change of Circumstances</h1>
              <p>Use the following sections to tell us about changes to your circumstances. You will need to confirm your changes before sending.</p>
             
        
            <ul class="navigation-list">
                <li class="service-name">
                    <h1 class="heading-small"><a href="personal_detailsv7"/><span class="nav-title">Personal and partner details</span> <span class="nav-detail">Change: Your name, address and relationship status
                  </span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Work and hours</span> <span class="nav-detail">Change: Where you work and the number of hours</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Income</span> <span class="nav-detail">Change: How much you earn from work and benefits</span></a></h1>
                </li>

                <li class="service-name">
                    <h1 class="heading-small"><a href="childrenv7"/><span class="nav-title">Children</span> <span class="nav-detail">Change: The children who are on your claim</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Childcare</span> <span class="nav-detail">Change: Who looks after your children and the costs</span></a></h1>
                </li>
                  <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Bank and payment details</span> <span class="nav-detail">Change: the bank account where you receive your payments</span></a></h1>
                </li>
               
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Report a death</span> <span class="nav-detail">Tell us if someone in your household has died</span></a></h1>
                </li>
               
            </ul> 
      
         
         
   </div>
    <div class="grid-1-4">
 </div>
</div>
   </div>
 </div>
    
  </main>

{{/content}}

{{/layout}}
