{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
    <article>
      <div class="grid-wrapper">
        <div class="grid">
          <div class="inner-block">
            <ul id="breadcrumbs" class="breadcrumbs"></ul>            <div class="hello-banner">
              <h1 class="heading-large">Tax Credits Change of Circumstances</h1>
              <h1 class="heading-medium">Tell us about a change</h1>
                     </div>
     
    
      
            <ul class="navigation-list">
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Personal details</span> <span class="nav-detail">Your and your partner's details</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Employment</span> <span class="nav-detail">Current employment: Tesco and 1 other</span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Income</span> <span class="nav-detail">You currently have an income of &pound;136.20 per month</span></a></h1>
                </li>

                <li class="service-name">
                    <h1 class="heading-small"><a href="childrenv4"/><span class="nav-title">Children</span> <span class="nav-detail">You have 3 children: Jillian, John and Jim
                    </span></a></h1>
                </li>
              
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Childcare</span> <span class="nav-detail">You have 2 childcare providers: Little Tots and Parkside</span></a></h1>
                </li>
                <li class="service-name">
                    <h1 class="heading-small"><a href=""/><span class="nav-title">Report a death</span> <span class="nav-detail">Tell us if someone in your household has died</span></a></h1>
                </li>
               
            </ul> 
        

      
             <div style="border: 1px solid; padding: 10px; width:100%; clear: both;">
  <p>Please confirm and send your changes or tell us about any other changes. </p>
  <a class="button" href="summary">Confirm and send my changes</a></div>
        </div>  
            </div> 

    </article>
  </main>

{{/content}}

{{/layout}}
