{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
		<h1 class="heading-large">Tax Credits change of circumstances</h1>
		<h2 class="heading-medium">New child summary</h2>
		<article role="article" class="group full-width">
 
<div class="grid-2-3">
<table class="inbox">
  <thead>
    <tr>
      <td></td>
      <td style="text-align: right"><a href="new_childv4">Change this</a></td>
      
      
    </tr>
  </thead>


  <tbody>
    <tr class="unread">
      <td><span class="count">Name</span></td>
      <td><span class="preview secondary-text">
      Jim Smith
      </span></td>
     
      
    </tr>
  <tr class="unread">
      <td><span class="count">Date of Birth</span></td>
      <td><span class="preview secondary-text">
      17 November 2013
      </span></td>
     
     
    </tr>
    <tr class="unread">
      <td><span class="count">Responsible for child from birth?</span></td>
      <td><span class="preview secondary-text">
      Yes
      </span></td>
     
      
    </tr>
    <tr class="unread">
      <td><span class="count">Registered disabled</span></td>
      <td><span class="preview secondary-text">
      No
      </span></td>
     
    </tr>

  </tbody>
</table>

<br><p><a href="new_child">Add another child</a></p>
 <p><a class="button" href="main_pagev4_amended">Continue</a></p>
 <p class="text"><a href="new_child">Back</a></p>


	 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
