{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="inner-block">
		<h1 class="heading-large">Tax Credits change of circumstances</h1>
		<article role="article" class="group full-width">
    <nav class="main-nav">
  <!--
  <a href="to-do" class="tab todo">To do list</a>
  <a href="account-overview" class="tab overview">Your taxes</a>
  -->

  <a href="main_page" class="tab account-home">Report a change</a>
  <a href="notifications" class="tab messages selected">Notifications <span class="count">1 unread</span></a>
</nav>
<div class="grid-2-3">
<table class="inbox">
  <thead>
    <tr>
      <th class="unread"><span class="visuallyhidden">Unread status</span></th>
      <th class="subject">Subject</th>
      
      <th class="date">Date of message</th>
    </tr>
  </thead>


  <tbody>
    <tr class="unread">
      <td><span class="count">Unread</span></td>
      <td><span class="preview secondary-text"> &nbsp; - &nbsp; 
      You've added a new child, please <a href="#">review your childcare</a>
      </span></td>
     
      <td>21 Jan 2015</td>
    </tr>
  
  </tbody>
</table>
 


	 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
