{{<layout}}

{{$pageTitle}}Tax Credits{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}


{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner_TCR}}
	<!-- main content starts -->
<main id="content" role="main">
	
  <div class="outer-block">
   <div class="inner-block">
                
		<p><a href="main_pagev7">< Main page</a><p>
      <h2 class="heading-medium">Personal and partner details</h2>
    
    <p><a href="">Change your address</a><br></p>
    <p><a href="">Change your name</a><br></p>
     <p><a href="">I have a new partner</a></p>
    <p><a href="">I have separated from my partner</a></p>
          <p class="text"><a href="main_pagev7">< Main page</a><p>
     
  
	</div>
</div>
</main>
{{/content}}

{{/layout}}
