{{<layout}}

{{$pageTitle}}Group plan{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">

      <a href="/examples/elements/intro" class="example-back-link">
        Back to the GOV.UK elements introduction
      </a>

      <h1 class="heading-xlarge">
        Table example
      </h1>

       <table cellspacing="0" class="default">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Company name</th>
                           <th>Company Registration<br> Number</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody id="summary">
                          <tr>
                          <td>1</td><td>Abacus Incorporated</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario1_4">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
                        </tr>
                        <tr>
                          <td>2</td><td>Abacus Incorporated</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario1_4">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
                        </tr>
                        <tr>
                          <td>3</td><td>Abacus Incorporated</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario1_4">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
                        </tr>
                        <tr>
                          <td>4</td><td>Abacus Incorporated</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario1_4">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
                        </tr>
                        <tr>
                          <td>5</td><td>Abacus Incorporated</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario1_4">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
                        </tr>
                        <tr>
                          <td>6</td><td>Abacus Incorporated</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario1_4">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
                        </tr>
                        <tr>
                          <td>7</td><td>Abacus Incorporated</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario1_4">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
                        </tr>
                        </tbody>
                      </table>

                        <div class="form-group">
                            <a class="button" href="user_testing2">Continue</a>
                        </div>


                    </div>
</main>

{{/content}}

{{/layout}}
