{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="outer-block">
  <div class="inner-block">
     <h1 class="heading-xlarge">ERS User testing</h1>
     <!--<h2 class="heading-large">Checking Service - Work in Progress</h2>
      <ul class="text list-bullet">
    <li><a href="/checking_service/checking_start_scenario1">Scenario 1 - Formatting errors</a></li>
    <li><a href="/checking_service/checking_start_scenario2">Scenario 2 - No formatting errors</a></li>
    <li><a href="/checking_service/checking_start_scenario3">Scenario 3 - Select scheme type (errors)</a></li>
    </ul>-->
     <h2 class="heading-large">Declaration</h2>
     <ul class="text list-bullet">
  	<li><a href="../summary_scenario3_10">Summary screen - original</a></li>
  	<li><a href="../confirmation_declaration_test">Summary screen - new</a></li>
  	<li><a href="../alterations_check_scenario1_7">Alterations - original</a></li>
    <li><a href="../alterations_declaration_test">Alterations - new</a></li>
  </ul>
   <h2 class="heading-large">End Screens</h2>
     <ul class="text list-bullet">
    <li><a href="../confirmation_scenario3_11">Nil return - original</a></li>
    <li>Nil return - new (to be added)</li>
  </ul>
      <h2 class="heading-large">Log Out</h2>
     <ul class="text list-bullet">
    <li><a href="logout1">Flow 1</a></li>
     </ul>
  </div>
</div>
</main>
{{/content}}

{{/layout}}
