{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
		<div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
			<h1 class="heading-xlarge">Choose the file you need to upload as part of your annual return</h1>

            {{! <div class="panel panel-border-wide space">
                <p>You can only upload OpenDocument Spreadsheet (.ods) files at the moment.</p>
                <p><a href="#">Contact us on our feedback page</a> if your .ods file is larger than 10MB.</p>
            </div> 

            <p>Choose the file you need to upload as part of your Enterprise Management Incentives annual return.</p> }}

            <form method="post">
                <div class="form-group">
                    <div class="upload">
                        <div class="column-two-thirds">
                            <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
                            <label for="file">Choose a file</label>
                        </div>
                        <div class="column-one-third">
                            <a class="button" href="check-for-errors">Upload</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}