{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}

<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
{{>sub_header_SIP_new}}
  {{>3check_SIP_new}}
                     <p class="text">
              <a class="button" href="304_SIP_modal_box">Upload spreadsheet</a>
            </p>    
          </form>
          <p class="text"><a href="3scenario1_14_csv_ods_SIP">Back</a></p>


 <!-- main content ends -->
 </div>
  </div>
</main>
{{/content}}

{{/layout}}
