{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	

<main id="content" role="main">
	  <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->

		<h1 class="heading-large">Confirmation</h1>
			{{>sub_header_OTHER}}
		<div class="confirmation">
					<h1 class="heading-medium"><img src="/public/icons/tick.png" style="padding: 0 10px 0 0" alt="">Your Other scheme nil return has been submitted for the tax year 2014/15</h1>	
							</div>
							<p class="text"></p>
							<p class="text">Date and time submitted: 15 July 2015, 3:54 pm</p>
							<p class="text"></p>
							<!--<div class="icon-important" style="display: inline-block; float: left"></div>
							<div style="display: inline-block; padding-left: 10px; float: left">
							<p class="text bold-small">Download and save these confirmation details for your records.</p>
						</div>
							<p class="text"></p>-->
							<div class="bottom-grey">
								<a class="button medium" id="btnValidation" type="button" href="http://ers-return.herokuapp.com/public/pdf/receipt_Other.pdf" target="_blank" title="Opens new window">Download confirmation (PDF, 500KB)</a>
					
							</div>								
						<div>
							<p class="text"></p>
							<h2 class="heading-medium">What happens next?</h2>
								<p class="text">To check the status of your submission, sign in to <a href="https://online.hmrc.gov.uk/">HMRC Online services</a> and visit the 'view schemes and arrangements' page within Employment Related Securities. Scheme status updates usually show within 48 hours.</p>
							</div>

 <!-- main content ends -->
	</div>
</div>
</div>

</main>
{{/content}}

{{/layout}}
