{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <h1 class="heading-xlarge">File check</h1>

            <p>HM Revenue and Customs (HMRC) need to check your file for errors.</p>
            <div class="form-group">
                <a class="button" href="errors-spreadsheet">Let HMRC check file for errors</a>
            </div>

        </div>
    </div>

{{/main}}
{{/layout}}