{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <h1 class="heading-xlarge">Subsidiary companies in this scheme or arrangement</h1>

            <div class="panel panel-border-wide">
                <p><a href="add-subsidiary-details">Add a subsidiary company</a></p>
            </div>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="40%">Abacus Incorportated</th>
                        <td class="numeric"><a href="registered">Change</a> &nbsp; <a href="#">Delete</a></td>
                    </tr>
                    <tr>
                       <td>Address</td>
                        <td class="">Gloucester House, Springfield Road, Newcastle upon Tyne, Tyne and Wear, NE1 1AA</td>
                    </tr>
                    <tr>
                        <td>Company Registration Number</td>
                        <td class="">7589628</td>
                    </tr>
                    <tr>
                        <td>Corporation Tax reference</td>
                        <td class="">3458676452</td>
                    </tr>
                </tbody>
            </table>


            <table class="space">
                <tbody>
                    <tr>
                        <th width="40%">Pixel Art Limited</th>
                        <td class="numeric"><a href="registered">Change</a> &nbsp; <a href="#">Delete</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td class="">Claverley House, Springfield Road, Newcastle upon Tyne, Tyne and Wear, NE99 1NE</td>
                    </tr>
                    <tr>
                        <td>Company Registration Number</td>
                        <td class="">8269857</td>
                    </tr>
                    <tr>
                        <td>Corporation Tax reference</td>
                        <td class="">2546768543</td>
                    </tr>
                </tbody>
            </table>

            {{! <p><a href="add-subsidiary-details">Add a subsidiary company</a></p> }}

            <div class="form-group">
                <a class="button" href="summary">Continue</a>
            </div>

        </div>
    </div>

{{/main}}
{{/layout}}