{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <h1 class="heading-xlarge">Sorry, we're experiencing technical difficulties</h1>
            <p class="lede">Your Enterprise Management Incentives annual return has not been submitted.</p>


            <h2 class="heading-medium">You need to...</h2>




        </div>
    </div>

{{/main}}

{{/layout}}