{{<layout}}

{{$pageTitle}}Checking Service - HMRC{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	<!-- main content starts -->
<main id="content" role="main">
	<div class="outer-block">
	<div class="grid-wrapper">
    <div class="grid">
      <div class="inner-block">
	<h3 class="heading-xsmall">Employment Related Securities (ERS)</h3>
		<h1 class="heading-large">Check your ERS spreadsheets</h1>
		
	<p class="text">Use this service to check for formatting errors in ERS spreadsheets.</p>

          <p class="text">Checking an ERS spreadsheet after you update it allows you to identify and then correct formatting errors. This makes it easier to submit your return at the end of the tax year.</p>
       
	 <h2 class="heading-medium">Before you start</h2>
	 <p class="text">You'll need to know where the spreadsheet that you want to check is stored.</p>
	  <p class="text">Your spreadsheet needs to be an OpenDocument Spreadsheet (ODS file).</p>
	   <!--<details>
            <summary><span class="summary">What is an OpenDocument Spreadsheet (.ods)</span></summary>
            <div class="panel-indent">
              <p class="text">
              ODS files are a type of spreadsheet that makes <a href="https://www.gov.uk/government/publications/open-standards-for-government/sharing-or-collaborating-with-government-documents">sharing or collaborating with government documents</a> easier. 
              </p>
            </div>
            </details>-->
            <div class="text panel-indent"><p class="text">
              ODS files are a type of spreadsheet that makes <a href="https://www.gov.uk/government/publications/open-standards-for-government/sharing-or-collaborating-with-government-documents" rel="external">sharing or collaborating with government documents</a> easier. 
              </p></div>
           <p class="text">The time it takes to check a file depends on the speed of your internet connection and the size of your spreadsheet.</p>
            
	 <p class="text">
	<a class="button button-get-started" href="select_scheme">Start now</a>
	</p>		
</div>
</div>
</div>


 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
