{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}

<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
{{>sub_header_OTHER}}
  {{>check_OTHER}}
                     <p class="text">
              <a class="button" href="OTHER_errors_scenario2_5">Upload spreadsheet</a>
            </p>    
          </form>
          <p class="text"><a href="scenario1_14_csv_ods_OTHER_ERROR">Back</a></p>


 <!-- main content ends -->
 </div>
  </div>
</main>
{{/content}}

{{/layout}}
