{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	<!--div1 start--><div class="outer-block">
	 <!--div2 start--><div class="inner-block">
	<!-- main content starts -->
 {{>sub_header_OTHER}}
 {{>add_SIP_company_details}}
	
			<a class="button" href="scenario1_16_OTHER_company_summary">Continue</a>
		</fieldset>
						</p>    
					</form>
					<p class="text"><a href="group_scenario1_3">Back</a></p>

</div>
 <!-- main content ends -->
	<!--div2 end--></div>
<!--div1 end--></div>
</main>
{{/content}}

{{/layout}}
