{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	<!--div1 start--><div class="outer-block">
	 <!--div2 start--><div class="inner-block">
	<!-- main content starts -->
 {{>sub_header_OTHER}}
{{>OTHER_company_details}}
	
			 <p class="text">
              <a class="button" href="scenario1_2_Group_OTHER">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="scenario1_15_ods_OTHER">Back</a></p>

</div>
 <!-- main content ends -->
	<!--div2 end--></div>
<!--div1 end--></div>
</main>
{{/content}}

{{/layout}}
