{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	<!-- main content starts -->
<main id="content" role="main">
		<div class="outer-block">
		<div class="inner-block">
			{{>sub_header_OTHER}}
			{{>start_OTHER}}
		
	 <p class="text">
	<a class="button button-get-started" href="scenario1_1_What_OTHER">Start now</a>
	</p>		
	 <!-- main content ends -->
	</div>
</div>
</main>
{{/content}}

{{/layout}}
