{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>OTHER/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">


					<h1 class="heading-xlarge">Your annual return is nearly complete</h1>

					<p class="text">Check the information that you’ve provided before you submit your return.</p>

					<table>
						<thead>
							<tr>
								<th>Section</th>
								<th>Your information</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Are any other companies covered by this return?</td>
								<td>Yes</a></td>
								<td><a class="editCompanyDetails" href="/OTHER/scenario1_2_Group_SIP">Change</a></td>
							</tr>
							<tr>
								<td>Companies covered by this return</td>
								<td>Abacus Incorporated<!--<br>Pixel Art Limited--></td>
								<td><a class="editCompanyDetails" href="/OTHER/scenario1_4_Group_Edit_SIP">Change</a></td>
							</tr>
						</tbody>
					</table>

					<div class="panel-indent">
              			<p>The company secretary or the person acting as the company secretary agrees that the information submitted is correct and complete.</p>
              		</div>

					<div class="form-group">
						<a class="button" href="/OTHER/confirmation">Accept and submit</a>
					</div>

                	<a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}