{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>OTHER/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

					<h1 class="heading-xlarge">Please select which tax year you are submitting your ERS return for</h1>

                    <form class="form" method="post">

                        <div class="form-group">
                                <fieldset>
                                    <legend class="visuallyhidden">Which tax year are you submitting for?</legend>

                                    <label class="block-label" for="radio-1" >
                                        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">2010 - 2011
                                    </label>
                                    <label class="block-label" for="radio-2" >
                                        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">2011 - 2012
                                    </label>
                                    <label class="block-label" for="radio-3" >
                                        <input id="radio-3" type="radio" name="radio-group" value="Northern Ireland">2012 - 2013
                                    </label>
                                    <label class="block-label" for="radio-4" >
                                        <input id="radio-4" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">2013 - 2014
                                    </label>
                                    <label class="block-label" for="radio-5" >
                                        <input id="radio-5" type="radio" name="radio-group" value="Northern Ireland">2014 - 2015
                                    </label>
                                    <label class="block-label" for="radio-6" >
                                        <input id="radio-6" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">2015 - 2016
                                    </label>

                                </fieldset>
                            </div>

                             <div class="form-group">
                        <a class="button" href="/OTHER/reportable-events">Continue</a>
                    </div>

                    </form>


                </div>
            </div>

        </main>

{{/content}}
{{/layout}}
