{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>OTHER/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

                    <h1 class="heading-xlarge">Upload the company details</h1>


                    <form method="post">
                        <div id="question1" class="form-group">
                            <p class="form-label-bold">Choose the comma separated values (CSV, .csv) file that you want to upload.</p>
                            <div id="browsefilebox" class="question-body">
                                <div class="form1">
                                    <input id="selectFile" type="file" name="somename" size="chars">
                                    {{! <div id="selectedFileName">&nbsp;</div> }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="button" href="/OTHER/other-companies-included">Upload file</a>
                        </div>
                    </form>



                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}