{{<layout}}

{{$pageTitle}}
	Submit your ERS annual return
{{/pageTitle}}

{{$content}}

		<main id="content" role="main">
			{{>includes/alpha_banner}}
			{{>OTHER/includes/reference}}

			<div class="grid-row">
				<div class="column-two-thirds">

					<h1 class="heading-xlarge">Upload your spreadsheet</h1>
					{{>OTHER/includes/spreadsheet}}

						<div class="form-group">
	                        <a class="button" href="/OTHER/company-details">Upload spreadsheet</a>
	                    </div>

		  			</form>
				<a href="javascript:history.go(-1)" class="link-back">Back</a>
				</div>
			</div>

		</main>

{{/content}}
{{/layout}}
