{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">Your current prototypes</h1>
			<p>You can amend the name, path or description of your iterations.</p>

			<!-- TODO: Make this look nicer? Ask a UX! -->


				<table>
					<thead>
						<tr>
							<th width="25%">Iteration</th>
							{{! <th width="10%">Version</th> }}
							<th>Description</th>
							<th width="10%"></th>
						</tr>
					</thead>
					<tbody>
						{{#apps}}
						<tr>
							<td>{{name}}</td>
							{{! <td>1.01</td> }}
							<td>{{description}}</td>
							<td><a href="edit-iteration/{{path}}">Edit</a></td>
						</tr>
						{{/apps}}
					</tbody>
				</table>



			<a href="javascript:history.go(-1)" class="link-back">Back</a>

		</div>
		<div class="column-third">

			{{>includes/admin-tools}}

		</div>
	</div>


</main>

{{/content}}

{{/layout}}