


<!--{{#isDev}}
	<h3 class="heading-medium" href="#">Admin</h3>
	<ul>
		<li>
			<a href="/admin/new-iteration">New Iteration</a>
		</li>
		<li>
			<a href="/admin/edit-iteration">Edit Iterations</a>
		</li>
	</ul>
{{/isDev}}-->

{{#isDev}}
            <div class="panel-indent panel-indent-info">
            <h3 class="heading-medium" href="#">Admin</h3>
            <ul>
                <li><a href="/admin/new-iteration">Create</a> a new iteration of your prototype</li>
                <li><a href="/admin/edit-iteration">Edit</a> one of your iterations</li>
            </ul>
            </div>
        {{/isDev}}