<table>
	<thead>
		<tr>
			<th width="25%">Iteration</th>
			<th>Description</th>
			{{#isDev}}
			<th width="8%"></th>
			{{! <th width="10%"></th> }}
			{{/isDev}}
		</tr>
	</thead>
	<tbody>
		{{#apps}}
		<tr>
			<td><a href="{{path}}/">{{name}}</a></td>

			<td>{{description}}</td>
			{{#isDev}}
			<td><a href="admin/edit-iteration/{{path}}">Edit</a></td>
			{{! <td><a href="#">Delete</a></td> }}
			{{/isDev}}
		</tr>
		{{/apps}}
	</tbody>
</table>

{{#isDev}}
<p>&nbsp;</p>
<p class="font-xsmall">You will need to refresh the page to see your changes after editing or creating a new iteration.</p>
{{/isDev}}
