<p>If the establishing company is part of a group of companies, the plan may be offered to the other companies within that group.</p>

<form method="post">
  <fieldset>
    <legend class="form-label-bold">Is this a group plan?</legend>
    <div class="form-block">
      <fieldset class="inline">
        <label class="block-label" for="yes">
          <input id="yes" type="radio" value="Yes" name="nominee-agent"></input>Yes
        </label>
        <label class="block-label" for="no">
          <input id="no" type="radio" value="No" name="nominee-agent"></input>No
        </label>
      </fieldset>
    </div>
  </fieldset>

  <div class="form-group">
    <button class="button">Continue</button>
  </div>
</form>