{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <h1 class="heading-xlarge">Are there any qualifying subsidiary companies?</h1>

            <p>A company must meet set conditions to qualify for Enterprise Management Incentives, and any subsidiaries of that company must be qualifying subsidiaries.</p>

            <form method="post">
                <div class="form-group">
                    <fieldset class="inline">
                        <legend class="visuallyhidden">Are there any qualifying subsidiary companies?</legend>
                        <label class="block-label" for="yes">
                            <input id="yes" type="radio" value="qualifying-company-details" name="next-page"></input>Yes
                        </label>
                        <label class="block-label" for="no">
                            <input id="no" type="radio" value="summary" name="next-page"></input>No
                        </label>
                    </fieldset>
                </div>

                <div class="form-group">
                    <button class="button">Continue</button>
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}