@import "app.scss";


.space {
    margin-bottom: 2em;
}

.reference {
  margin: 20px 0 0 0;
}

.govuk-box-highlight {

  margin-top: 40px;

  h1.heading-xlarge {
    margin: 0 0 10px 0;

  }
  h1.heading-large {
    margin: 0 0 10px 0;

  }
}

.link-back {
  margin-bottom: 0px;
}

.form-label-bold, .form-label {
  margin-bottom: .5em; }


.upload {
  background: #eee;
  padding: 10px;
  min-height: 40px;

  .button {
    margin: 0 0 0 100px;
    text-align: right
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  outline: none;
}
.custom-file-input::before {
  content: 'Choose a file';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
    // font-size: 1.25em;
    // font-weight: 700;

    background: #dedede;
    border: 1px solid #999;
    border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  -webkit-user-select: none;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #ccc;

}
