{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-xlarge">Your prototype name</h1>
        <p class="lede">General paragraph for your prototype, information regarding the service the prototype is for etc.</p>
        <div class="panel-indent panel-indent-info">
            <a href="/admin/new-iteration" class="button">Create a new iteration</a>
        </div>

		{{>includes/subapp-list}}

	</div>

</div>

{{/main}}

{{/layout}}