{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>SIP/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

                	<h1 class="heading-xlarge">Add company details</h1>

 					{{>SIP/includes/company-details}}

			<a class="button" href="/SIP/company-summary">Continue</a>
		</fieldset>
						</p>
					</form>

 					<a href="javascript:history.go(-1)">Back</a>

                </div>
            </div>

        </main>

{{/content}}
{{/layout}}
