{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}



<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
   {{>sub_header_SIP_new}}
   <span class="form-hint">Step 3 of 6</span>
<span class="heading-large">Upload the group plan details</span>
 <!-- radio buttons start -->
          <p class="text">Choose the comma separated values (CSV, .csv) file that you want to upload.</p>

        
                     <!--<details>
            <summary><span class="summary">What are format errors?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about formatting errors.
              </p>
            </div>
            </details>
            <br>
            <p class="text">Your spreadsheet must be in OpenDocument Spreadsheet (.ods) format</p>-->
         
                    <!-- <details>
            <summary><span class="summary">What is ods format?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about ods.
              </p>
            </div>
            </details>
           <h2 class="heading-medium">Choose and upload your spreadsheet.</h2>-->
</div>
<div class="grid-wrapper">
    <div class="grid grid-2-3">

      <div class="inner-block">
        


<div id="question1" class="form-group">
   

  
                     
          <div id="browsefilebox" class="question-body">                 
                       
                       <div class="form1">       
                         <input id="selectFile" type="file" name="somename" size="chars">
                         <!--<div id="btnHolder"><button id="selectFileBtn" class="button-secondary">Choose your file</button></div>-->
                         <div id="selectedFileName">&nbsp;</div>     
          </div>                  
                    
      </div>  

                                     
                   
<form>
  <input id="input-file-name" type="file" name="file[]" style="display:none;" multiple/>
</form>

 <form action="" method="post" class="form">
            <fieldset>
              <legend></legend>
              
      </fieldset>
          <a class="button" href="scenario1_20_SIP_company_single_summary">Upload file</a>
        
              
          </form>

          <p class="text"><a href="scenario1_12_manual_csv_SIP">Back</a></p>

</div>
</div>


<script>

function GetIEVersion() {  
  var sAgent = window.navigator.userAgent;  
  var Idx = sAgent.indexOf("MSIE");  
  // If IE, return version number.  
  if (Idx > 0)   
    return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));     
    // If IE 11 then look for Updated user agent string.  
  else if (!!navigator.userAgent.match(/Trident\/7\./))   
    return 11;  
  else 
    return 0; //It is not IE  
}  





$("#choose-file-button").click(function(e) {
  $("#input-file-name").click();
});

$("#input-file-name").change(function(e) {
    $("#fileDiv").show();       
    // Is IE then check version
    if ((GetIEVersion() > 9) || (GetIEVersion() == 0)) {
        var numberOfFiles = $("#input-file-name").get(0).files.length;
        for (i=0; i<numberOfFiles; i++) {
        $("#fileTable").append("<tr><td>"+$("#input-file-name").get(0).files.item(i).name+"</td><td>Ready to upload</td><td><a href='javascript:void(0);' id='removeFile'>Remove file</a></td></tr>"); 
        }            
    } else {
        // Earlier versions of IE (<9)
        var fileName = $("#input-file-name").val();
        $("#fileTable").append("<tr><td>"+fileName+"</td><td>Ready to upload</td><td><a href='javascript:void(0);' id='removeFile'>Remove file</a></td></tr>");                                            
    }
});        

$("#fileTable").on('click', '#removeFile', function() {
  $(this).parent().parent().remove();
  var rowcount = $("#fileTable").prop('rows').length;
  if (rowcount == 1) {
    $("#fileDiv").hide();
  }
});

function getUrlVars() {
  var vars = [], hash;
  var hashes = window.location.href.slice(window.location.href.indexOf('?')+1).split('&');
  for (var i=0; i<hashes.length; i++) {
    hash = hashes[i].split('=');
    vars.push(hash[0]);
    vars[hash[0]]=hash[1];
  }
  return vars;
}

$(document).ready(function(){
    //alert(getUrlVars()["radio-group"]);
   // $("h1").html("Upload your "+ getUrlVars()["radio-group"] +" spreadsheet");
    $("#fileType").html("You've told us your spreadsheets are "+ getUrlVars()["radio-group"] +" files. If you're uploading multiple spreadsheets they must all be the same file type . ")
})



</script>

<div class="grid grid-1-3">
      <!--<div class="inner-block"><a href="">Remove all files</a>
      </div>-->
      </div>
    </div>
     <!--<div class="inner-block">
      <table style="width: 80%;">
        <tr><th>File name</th><th>Status</th><th>Action</th></tr>
        <tr><td>ExampleCompanyCSOP1.ods</td><td>Ready to upload</td><td><a href="">Remove file</td></tr>
       <tr><td>ExampleCompanyCSOP1.jpg</td><td><span style="color: #DF3034">You must choose another ODS file</span></td><td><a href="">Remove file</td></tr>
      </table>-->
   
    
         
        </div>



 <!-- main content ends -->

</main>
{{/content}}

{{/layout}}
