{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	 <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
	{{>sub_header_SIP_new}}
	<h1 class="heading-large">
Trustees of this Share Incentive Plan</h1>
		<div class="form-block">
					 <!-- help text -->
			<p class="text"><a href="scenario3_6_Trustee_Details_SIP">Add a trustee</a> <p class="text">	
		<table cellspacing="0" class="default">
												<thead>
													<tr>
														<th></th>
														<th>Name</th>
														<th>Address</th>
														<th></th>
													</tr>
												</thead>
												<tbody id="summary">
													<tr>
													<td>1</td><td>Mark E Smith</td><td>Gloucester House<br>Springfield Road<br>Newcastle upon Tyne<br>Tyne and Wear<br>NE1 1AA.</td><td><a class="editCompanyDetails" href="scenario3_6_Trustee_Details_SIP">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
											<!--	</tr>
												<tr>
													<td>2</td><td>Kim Deal</td><td>Building Name<br># Street Name<br>Area<br>Town<br>NE1 1AA.</td><td><a class="editCompanyDetails" href="scenario3_6_Trustee_Details_SIP">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
												</tr>-->
													<tr id="companyDetails">
														<td colspan="6"><a href="scenario3_6_Trustee_Details_SIP"><span class="font-small">Add a trustee</span></a></td>
													</tr></tbody>
											</table>
<p class="text"></p>

<form action="" method="post" class="form">
						<fieldset>
							<legend></legend>
							
			</fieldset>
					<a class="button" href="scenario3_8_Alterations_SIP">Continue</a>
						  
					</form>
					<p class="text"><a href="scenario3_6_Trustee_Details_SIP">Back</a></p>


 <!-- main content ends -->
</div>
	</div>
</div>
</main>
{{/content}}

{{/layout}}
