{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>SIP/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

					<h1 class="heading-large">Your annual return is nearly complete</h1>
					<p>Check the information that you’ve provided before you submit your return.</p>



					<table>
						<thead>
							<tr>
								<th width="50%">Section</th>
								<th>Your information</th>
								<th width="12%"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Have shares been awarded or have shares ceased to be part of the plan during the tax year?</td><td>No</a></td><td><a class="editCompanyDetails" href="group-plans">Change</a></td>
							</tr>
							<tr>
								<td>Establishing company</td><td>Merchant Ltd</a></td><td><a class="editCompanyDetails" href="group-plans">Change</a></td>
							</tr>
							<tr>
								<td>Is this a group plan?</td><td>Yes</a></td><td><a class="scenario3_3_Group_SIP" href="scenario3_3_Group_SIP">Change</a></td>
							</tr>
							<tr>
								<td>Companies in this group plan</td><td>Abacus Incorporated<!--<br>Pixel Art Limited--></td><td><a class="editCompanyDetails" href="group-plans">Change</a></td>
							</tr>
							<tr>
								<td>Trustees of this Share Incentive Plan</td><td>Mark E Smith<!--<br>Kim Deal--></td><td><a class="editCompanyDetails" href="trustees">Change</a></td>
							</tr>
							<tr>
								<td>Have alterations been made to this plan?</td><td>Yes</a></td><td><a class="editCompanyDetails" href="plan-alterations">Change</a></td>
							</tr>
							<tr>
													<td>Alterations made to this plan</td><td> Alterations to shares within the plan<br>
Other</td><td><a class="editCompanyDetails" href="alterations-check">Change</a></td>
												</tr>
						</tbody>
					</table>

					<div class="panel-indent">
						<p class="heading-small">The company secretary or the person acting as the company secretary agrees that the information submitted is correct and complete.</p>
					</div>

					<div class="form-group">
						<a class="button" href="confirmation">Accept and submit</a>
					</div>


 					<a href="javascript:history.go(-1)">Back</a>



                </div>
            </div>

        </main>

{{/content}}
{{/layout}}