{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
	
<main id="content" role="main">
	 <div class="outer-block">
	 <div class="inner-block">
	<!-- main content starts -->
		{{>sub_header_SAYE}}
	<h1 class="heading-large">Companies in this group plan</h1>
		<div class="form-block">
					 <!-- help text -->
			<p class="text"><a href="scenario1_3_Group_Details_SIP">Add a company</a> <p class="text">	
		<table cellspacing="0" class="default">
												<thead>
													<tr>
														<th></th>
														<th>Company name</th>
														<th>Address</th>
														<th>Company Registration<br> Number</th>
														<th>Corporation Tax<br> Reference</th>
														<th></th>
													</tr>
												</thead>
												<tbody id="summary">
													<tr>
													<td>1</td><td>Abacus Incorporated</td><td>Gloucester House<br>Springfield Road<br>Newcastle upon Tyne<br>Tyne and Wear<br>NE1 1AA.</td><td>7589628</td><td>3458676452</td><td><a class="editCompanyDetails" href="scenario1_3_Group_Details_SIP">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
												</tr>
												<!--<tr>
													<td>2</td><td>Pixel Art Limited</td><td>Building Name<br># Street Name<br>Area<br>Town<br>NE1 1AA.</td><td>XXXXXXX</td><td>XXXXXXX</td><td><a class="editCompanyDetails" href="group_company_scenario3_6">Change this</a><br><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
												</tr>-->
													<tr id="companyDetails">
														<td colspan="6"><a href="scenario1_3_Group_Details_SIP"><span class="font-small">Add a company</span></a></td>
													</tr></tbody>
											</table>
<p class="text"></p>

<form action="" method="post" class="form">
						<fieldset>
							<legend></legend>
							
			</fieldset>
					<a class="button" href="scenario1_5_Trustee_Details_SAYE">Continue</a>
						  
					</form>
					<p class="text"><a href="scenario1_3_Group_Details_SAYE">Back</a></p>


 <!-- main content ends -->
</div>
	</div>
</div>
</main>
{{/content}}

{{/layout}}
