{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>SAYE/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">
  <!-- main content starts -->
    {{>sub_header_SAYE}}
  {{>what_sheet_SAYE_ERRORS}}



                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}