{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>OTHER/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

					<h1 class="heading-xlarge">Other companies included in this return</h1>

					<table>
						<thead>
							<tr>
								<th>Company name</th>
								<th>Address</th>
								<th>Company Registration<br> Number</th>
								<th>Corporation Tax<br> Reference</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Abacus Incorporated</td>
								<td>Gloucester House<br>Springfield Road<br>Newcastle upon Tyne<br>Tyne and Wear<br>NE1 1AA.</td>
								<td>7589628</td>
								<td>3458676452</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>Newcastle United</td>
								<td>One Way<br>Springfield Road<br>Newcastle upon Tyne<br>Tyne and Wear<br>NE99 1NE.</td>
								<td>7589628</td>
								<td>4637654</td>
							</tr>
						</tbody>
					</table>

					<div class="panel-indent">
						<h3 class="heading-small">Notice a mistake?</h1>
              			<p>If there's a mistake in any of the company details shown, you'll need to correct them in the .csv file and <a href="/OTHER/upload-company-details">upload the file again</a>.</p>
              		</div>

					<div class="form-group">
						<a class="button" href="/OTHER/summary">Continue</a>
					</div>






                	<a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}