{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
   <div class="outer-block">
   <div class="inner-block">
       {{>sub_header_EMI}}
  {{>alterations_SIP}}
      
            <p class="text">
              <a class="button" href="scenario1_8_Alterations_Check_EMI">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="scenario1_6_Trustee_Edit_EMI">Back</a></p>


 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}
