{{<layout}}

{{$pageTitle}}
    Checking Service - HMR
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
           {{>includes/alpha_banner}}


            <div class="grid-row">
                <div class="column">

					<h1 class="heading-small" style="text-align: right;">Company Share Option Plan (CSOP)<br>Formatting error report</h1>


						<h2 class="heading-medium">Your file contains 11 formatting errors</h2>

						<h3 class="heading-small">Summary of errors</h3>
<div class="panel-indent">
						<p>5 entries are formatted to the wrong number of decimal places<br>
						2 entries have invalid National Insurance number formats<br>
						2 entries have invalid yes/no information<br>
						1 entry isn't in the expected number format<br>
						1 item index is in the wrong sequential order</p>
					</div>

					<h2 class="heading-medium">Errors by sheet</h2>

					<h2>Sheet: CSOP_OptionsGranted_V0</h2>
					<table>
						<thead>
							<tr>
								<th width="10%">Column</th>
								<th width="10%">Row</th>
								<th>Error</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>F</td>
								<td>14</td>
								<td>National Insurance number must be 2 letters, 6 numbers and a final letter.</td>
							</tr>
							<tr>
								<td>G</td>
								<td>16</td>
								<td>Entry needs to be formatted to 2 decimal places.</td>
							</tr>
							<tr>
								<td>I</td>
								<td>24</td>
								<td>Entry needs to be formatted to 4 decimal places.</td>
							</tr>
							<tr>
								<td>K</td>
								<td>15</td>
								<td>Entry needs to be formatted to 4 decimal places.</td>
							</tr>
							<tr>
								<td>L</td>
								<td>17</td>
								<td>Entry needs to be in number format.</td>
							</tr>
							<tr>
								<td>M</td>
								<td>21</td>
								<td>Entry needs to be formatted to 2 decimal places.</td>
							</tr>
						</tbody>
					</table>

					<h2 class="heading-small">Sheet: SIP_OptionsRCL_V0</h2>
					<table>
						<thead>
							<tr>
								<th width="10%">Column</th>
								<th width="10%">Row</th>
								<th>Error</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>F</td>
								<td>24</td>
								<td>Item index isn’t in the original sequential order.</td>
							</tr>
							<tr>
								<td>K</td>
								<td>33</td>
								<td>Entry has invalid yes/no information.</td>
							</tr>
							<tr>
								<td>K</td>
								<td>10013</td>
								<td>Entry has invalid yes/no information.</td>
							</tr>
						</tbody>
					</table>

					<h2 class="heading-small">Sheet: SIP_OptionsExercised_V0</h2>
					<table>
						<thead>
							<tr>
								<th width="10%">Column</th>
								<th width="10%">Row</th>
								<th>Error</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>G</td>
								<td>16</td>
								<td>National Insurance number must be 2 letters, 6 numbers and a final letter.</td>
							</tr>
							<tr>
								<td>J</td>
								<td>16</td>
								<td>Entry needs to be formatted to 2 decimal places.</td>
							</tr>
						</tbody>
					</table>

					<h2 class="heading-medium">What happens next?</h2>
					<p>Correct the errors and <a href="/SIP/errors/choose-file-type">upload your spreadsheet again or choose a different file</a>.</p>


               		<a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}