<form method="post">
	<fieldset>
		<legend class="form-label-bold">How do you want to add the group scheme details?</legend>
		<div class="form-group">
			<label class="block-label" for="csv">
				<input id="csv" type="radio" name="radio-group" value="csv">Upload a comma separated values (CSV, .csv) file
			</label>
			<label class="block-label" for="manual">
				<input id="manual" type="radio" name="radio-group" value="manual">Manually enter the company details
			</label>
		</div>

		<div class="form-group">
			<button class="button">Continue</button>
		</div>
	</fieldset>
</form>