<form method="post">
    <p>Choose the OpenDocument Spreadsheet (ODS, .ods file) that you want to upload as part of your Company Share Option Plan annual return.</p>
    <div class="panel-indent">
        <p>Your .ods file must be 10MB or less.
        <a href="#">Contact us on our feedback page</a> if your file is larger and we'll help you upload it.</p>
    </div>
    <div id="question1" class="form-group">
        <div id="browsefilebox" class="question-body">
            <div class="form1">
                <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                <!--<div id="btnHolder"><button id="selectFileBtn" class="button-secondary">Choose your file</button></div>-->
                <div id="selectedFileName">&nbsp;</div>
            </div>
        </div>
    </div>
