<form method="post">
	<legend class="form-label-bold">Have options been granted, exercised, released (including exchanges), lapsed or cancelled during the tax year?</legend>
	<fieldset class="inline">
		<label class="block-label" for="yes">
		<input id="yes" type="radio" name="radio-group" value="Yes">Yes</label>
		<label class="block-label" for="no">
		<input id="no" type="radio" name="radio-group" value="No">No (nil return)</label>
	</fieldset>
	<div class="form-group">
		<button id="next" class="button">Continue</button>
	</div>
</form>