{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <h1 class="heading-xlarge">File check</h1>

              <p>If there are no formatting errors in this file, you'll add the company details next.</p>
            <div class="form-group">
                <a class="button" href="errors-spreadsheet">Continue</a>
            </div>

        </div>
    </div>

{{/main}}
{{/layout}}