{{<layout-cs}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

	  		<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
			<h1 class="heading-xlarge">What type of file do you want to check?</h1>

            <form class="form" method="post">
				<fieldset>
					<legend class="visuallyhidden">What type of file do you want to check?</legend>
					<div class="form-group">
						<label for="radio-1" class="block-label">
							<input id="radio-1" type="radio" name="next-page" class="form-control" value="choose-and-check-csv">Comma separated values (.csv)<br>
						</label>
						<label for="radio-2" class="block-label">
							<input id="radio-2" type="radio" name="next-page" value="choose-and-check">OpenDocument Spreadsheet (.ods)
						</label>
					</div>
				</fieldset>
				<div class="form-group">
                    <input type="submit" class="button" value="Continue">
				</div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout-cs}}