{{<layout-cs}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

		  	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

 			<h1 class="heading-xlarge">Choose the .ods file that you want to check for errors</h1>




				{{! <p class="form-hint">Errors are created when information isn't entered correctly or unexpected structural changes are made. For example, a number is found where a word is needed or an expected column is missing.</p> }}


		  	   <div id="question1" class="form-group">
		  		<div id="browsefilebox" class="question-body">
		  			<div class="form1">
		  				<input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
		  				<div id="selectedFileName">&nbsp;</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<a href="confirmation"  class="button" type="submit" id="save-and-continue">Check for errors</a>
		  	</div>

        </div>
    </div>

{{/main}}
{{/layout-cs}}