{{<layout-cs}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

		  	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

 			<h1 class="heading-xlarge">Choose the .csv file or files that you want to check for errors</h1>

		  	<div id="question1" class="form-group">
                <label class="form-label-bold">Adjustment of options</label>
		  		<div id="browsefilebox" class="question-body">
		  			<div class="form1">
		  				<input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
		  				<div id="selectedFileName">&nbsp;</div>
					</div>
				</div>
			</div>

            <div id="question2" class="form-group">
               <label class="form-label-bold">Replacement of options</label>
                <div id="browsefilebox" class="question-body">
                    <div class="form1">
                        <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                        <div id="selectedFileName">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div id="question3" class="form-group">
                <label class="form-label-bold">Options released, lapsed or cancelled</label>
                <div id="browsefilebox" class="question-body">
                    <div class="form1">
                        <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                        <div id="selectedFileName">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div id="question4" class="form-group">
                <label class="form-label-bold">Non-taxable exercise of options</label>
                <div id="browsefilebox" class="question-body">
                    <div class="form1">
                        <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                        <div id="selectedFileName">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div id="question5" class="form-group">
                <label class="form-label-bold">Taxable exercise of options</label>
                <div id="browsefilebox" class="question-body">
                    <div class="form1">
                        <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                        <div id="selectedFileName">&nbsp;</div>
                    </div>
                </div>
            </div>

			<div class="form-group">
				<a href="confirmation"  class="button" type="submit" id="save-and-continue">Check for errors</a>
		  	</div>

        </div>
    </div>

{{/main}}
{{/layout-cs}}