{{<layout-cs}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

		  	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

 			<h1 class="heading-xlarge">Choose and check your files</h1>
		  	<p class="lede">Choose the comma separated values (CSV, .csv) file or files that you want to check for formatting errors.</p>

		  	<div id="question1" class="form-group">
                <p>Adjustment of options</p>
		  		<div id="browsefilebox" class="question-body">
		  			<div class="form1">
		  				<input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
		  				<div id="selectedFileName">&nbsp;</div>
					</div>
				</div>
			</div>

            <div id="question1" class="form-group">
                <p>Adjustment of options</p>
                <div id="browsefilebox" class="question-body">
                    <div class="form1">
                        <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                        <div id="selectedFileName">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div id="question1" class="form-group">
                <p>Options released, lapsed or cancelled</p>
                <div id="browsefilebox" class="question-body">
                    <div class="form1">
                        <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                        <div id="selectedFileName">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div id="question1" class="form-group">
                <p>Non-taxable exercise of options</p>
                <div id="browsefilebox" class="question-body">
                    <div class="form1">
                        <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                        <div id="selectedFileName">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div id="question1" class="form-group">
                <p>Taxable exercise of options</p>
                <div id="browsefilebox" class="question-body">
                    <div class="form1">
                        <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
                        <div id="selectedFileName">&nbsp;</div>
                    </div>
                </div>
            </div>

			<div class="form-group">
				<a href="error-report"  class="button" type="submit" id="save-and-continue">Check for errors</a>
		  	</div>

        </div>
    </div>

{{/main}}
{{/layout-cs}}