{{<layout-cs}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

			<div class="govuk-box-highlight space">
				<h1 class="heading-xlarge">Check complete</h1>
				<p><img src="/public/icons/tick.png" style="padding: 0 10px 0 0" alt="">There are no formatting errors in your spreadsheet.</p>
			</div>

			<hr />

			<h2 class="heading-medium">What happens next?</h2>
			<p>Check your spreadsheets whenever you update them. Regular checks allow you to identify and then correct formatting errors.</p>
			</p><a href="select-scheme">Check another ERS scheme or arrangement spreadsheet</a>.</p>

			<div class="form-group">
				<a class="button" href="index">Finish</a>
			</div>

        </div>
    </div>

{{/main}}
{{/layout-cs}}