{{<layout-cs}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

			<div class="govuk-box-highlight space">
				<h1 class="heading-large"><img src="public/images/icons/tick.png"> Check complete</h1>
				<p>No errors were found.</p>
			</div>

			<h2 class="heading-medium">What happens next</h2>
			<p>Check your files whenever you update them (regular checks help you to find and fix errors earlier).</p>
			<p><a href="select-scheme">Check a different file</a>
            <p><a href="start">What did you think of this service?</a> (takes 30 seconds)</p>

        </div>
    </div>

{{/main}}
{{/layout-cs}}