{{<layout-cs}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

			<div class="govuk-box-highlight space">
				<h1 class="heading-large"><img src="public/images/icons/tick.png"> Check complete</h1>
				<p>No formatting errors were found.</p>
			</div>



			<h2 class="heading-medium">What happens next</h2>
			<p>Check your files whenever you update them. Regular checks allow you to find and fix formatting errors earlier.</p>
			</p><a href="select-scheme">Check a different file</a></p>



        </div>
    </div>

{{/main}}
{{/layout-cs}}