{{<layout-cs}}

{{$pageTitle}}
   Check your ERS files
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Check your ERS files</h1>
            {{! <p class="lede">Use this service to check for formatting errors in the spreadsheet or comma separated values (CSV, .csv) files that you need to upload as part of your Employment Related Securities (ERS) annual return.</p> }}

            <h2 class="heading-medium">No Errors</h2>
            <p><a href="start">ERS Checking service with no errors</a></p>

            <h2 class="heading-medium">With Errors</h2>
            <p><a href="errors/start">ERS Checking service with errors</a></p>

        </div>
    </div>

{{/main}}
{{/layout-cs}}
