{{<layout-cs}}

{{$pageTitle}}
   Check your ERS files
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Check your ERS files</h1>
            <p class="lede">Use this service to check for formatting errors in the files you need to upload as part of your Employment Related Securities (ERS) annual return.</p>

            <h2 class="heading-medium">Before you start</h2>
            <p>You'll need to know which type of ERS scheme or arrangement the file is for.</p>
            <p>If you are checking a spreadsheet it needs to be an OpenDocument Spreadsheet (.ods) file. You can also check comma separated values (CSV, .csv) files.</p>
            <p>The time it takes to check a file depends on the speed of your internet connection and the size of your spreadsheet or CSV file.</p>

            <div class="panel panel-border-wide space">
                <p><a href="https://www.gov.uk/government/collections/employment-related-securities">Use the ERS guidance documents</a> to help you create error-free files.</p>
            </div>


            <a class="button button-get-started" href="select-scheme">Start now</a>
        </div>
    </div>

{{/main}}
{{/layout-cs}}
