{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}



<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
   {{>sub_header_SIP_new}}
<h1 class="heading-large">Upload your CSV spreadsheets</h1>
 <!-- radio buttons start -->
          <p class="text">Choose the spreadsheets that you want to upload.</p>

          <div class="text panel-indent"><p class="text">
              You can only upload CSV (.csv) files.
              </p></div>
                     <!--<details>
            <summary><span class="summary">What are format errors?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about formatting errors.
              </p>
            </div>
            </details>
            <br>
            <p class="text">Your spreadsheet must be in OpenDocument Spreadsheet (.ods) format</p>-->
         
                    <!-- <details>
            <summary><span class="summary">What is ods format?</span></summary>
            <div class="panel-indent">
              <p class="text">
               Some information about ods.
              </p>
            </div>
            </details>
           <h2 class="heading-medium">Choose and upload your spreadsheet.</h2>-->
</div>
<div class="grid-wrapper">
    <div class="grid grid-2-3">
      <div class="inner-block">
<p class="text"><button id="choose-file-button" style="background-color: #BFC1C3; position: relative; display: -moz-inline-stack; display: inline-block; padding: 0.3em 0.6em 0.2em 0.6em; border: none; -webkit-border-radius: 0; -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #000;
  margin: 0 15px 15px 0;
  padding: 0.52632em 0.78947em 0.26316em 0.78947em;
  vertical-align: top; ">Choose files</button></p>

<form>
  <input id="input-file-name" type="file" name="file[]" style="display:none;" multiple/>
</form>

 <div class="inner-block" style="display:none;" id="fileDiv">
  <table id="fileTable">
    <tr><th>File name</th><th>Status</th><th>Action</th></tr>
    <!--tr><td>ExampleCompanySIP1.ods</td><td>Ready to upload</td><td><a href="">Remove file</td></tr>
    <tr><td>ExampleCompanySIP1.jpg</td><td><span style="color: #DF3034">You must choose another ODS file</span></td><td><a href="">Remove file</td></tr-->
  </table>
  <br>
              <a class="button" href="3scenario1_11_company_SIP">Upload files</a>
            </p>    
 </div>




   
        
          <p class="text"><a href="3scenario1_14_csv_ods_SIP">Back</a></p>
</div>
</div>


<script>

function GetIEVersion() {  
  var sAgent = window.navigator.userAgent;  
  var Idx = sAgent.indexOf("MSIE");  
  // If IE, return version number.  
  if (Idx > 0)   
    return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));     
    // If IE 11 then look for Updated user agent string.  
  else if (!!navigator.userAgent.match(/Trident\/7\./))   
    return 11;  
  else 
    return 0; //It is not IE  
}  





$("#choose-file-button").click(function(e) {
  $("#input-file-name").click();
});

$("#input-file-name").change(function(e) {
    $("#fileDiv").show();       
    // Is IE then check version
    if ((GetIEVersion() > 9) || (GetIEVersion() == 0)) {
        var numberOfFiles = $("#input-file-name").get(0).files.length;
        for (i=0; i<numberOfFiles; i++) {
        $("#fileTable").append("<tr><td>"+$("#input-file-name").get(0).files.item(i).name+"</td><td>Ready to upload</td><td><a href='javascript:void(0);' id='removeFile'>Remove file</a></td></tr>"); 
        }            
    } else {
        // Earlier versions of IE (<9)
        var fileName = $("#input-file-name").val();
        $("#fileTable").append("<tr><td>"+fileName+"</td><td>Ready to upload</td><td><a href='javascript:void(0);' id='removeFile'>Remove file</a></td></tr>");                                            
    }
});        

$("#fileTable").on('click', '#removeFile', function() {
  $(this).parent().parent().remove();
  var rowcount = $("#fileTable").prop('rows').length;
  if (rowcount == 1) {
    $("#fileDiv").hide();
  }
});

function getUrlVars() {
  var vars = [], hash;
  var hashes = window.location.href.slice(window.location.href.indexOf('?')+1).split('&');
  for (var i=0; i<hashes.length; i++) {
    hash = hashes[i].split('=');
    vars.push(hash[0]);
    vars[hash[0]]=hash[1];
  }
  return vars;
}

$(document).ready(function(){
    //alert(getUrlVars()["radio-group"]);
    //$("h1").html("Upload your "+ getUrlVars()["radio-group"] +" spreadsheet");//
    $("#fileType").html("You've told us your spreadsheets are "+ getUrlVars()["radio-group"] +" files. If you're uploading multiple spreadsheets they must all be the same file type . ")
})



</script>

<div class="grid grid-1-3">
      <!--<div class="inner-block"><a href="">Remove all files</a>
      </div>-->
      </div>
    </div>
     <!--<div class="inner-block">
      <table style="width: 80%;">
        <tr><th>File name</th><th>Status</th><th>Action</th></tr>
        <tr><td>ExampleCompanySIP1.ods</td><td>Ready to upload</td><td><a href="">Remove file</td></tr>
       <tr><td>ExampleCompanySIP1.jpg</td><td><span style="color: #DF3034">You must choose another ODS file</span></td><td><a href="">Remove file</td></tr>
      </table>-->
   
    
         
        </div>



 <!-- main content ends -->

</main>
{{/content}}

{{/layout}}
