{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<h1 class="heading-xlarge">National insurance class 2 reform</h1>

    <h2 class="heading-large">Dev baseline</h2>
    <ul>
        <li><a href="/examples">Example pages</a></li>
    </ul>

    <h2 class="heading-large">User testing</h2>

    <h2 class="heading-large">Work in progress</h2>
    <ul>
        <li><a href="/version/index">Initial concepts</a></li>
    </ul>
    <h2 class="heading-medium">Design resources</h2>
    <ul class="list-bullet">
        <li><a href="http://govuk-elements.herokuapp.com/">Gov.uk Elements</a></li>
        <li><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/index.html">Design Patterns</a></li>
        <li><a href="https://designpatterns.hackpad.com/">Current Hack Design Patterns</a></li>
        <li><a href="http://govuk-elements.herokuapp.com/snippets">Code Snippets</a></li>
        <li><a href="https://www.gov.uk/design-principles#first">GDS Design Principles</a></li>
        <li><a href="https://www.gov.uk/service-manual">Service Manual</a></li>
    </ul>

{{/main}}

{{/layout}}