{{<layout-cs}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

            <h1 class="heading-xlarge">Enterprise Management Incentives (EMI)
error report</h1>

            <div class="panel panel-border-wide space">
                <p>The file that you chose to check seems to be damaged.
                <br />You won't be able to upload [file name] as part of your annual return.</p>
            </div>





            <h2 class="heading-medium">What happens next</h2>
            <p>{{! Fix the errors before you use this service again or  }}<a href="select-scheme">Choose a different file to check</a></p>

        </div>
    </div>

{{/main}}
{{/layout-cs}}