{{<layout-cs}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

		  	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

			<h1 class="heading-xlarge">Error report</h1>

			<div class="panel panel-border-wide space">
				<p>Formatting errors have been found.</p>
			</div>

			<p>View and then save your copy of the error report (it will open in a new window or tab).</p>
			<div class="form-group">
				<a class="button medium" id="btnValidation" type="button" href="../public/pdf/errors_report_EMI.pdf" target="_blank" title="Opens new window">View error report (PDF, 500k)</a>
			</div>

			<p>You can also <a href="error_webpage">view this error report as a web page</a>.</p>

            <hr />

			<h2 class="heading-medium">What happens next</h2>
			<p>Fix the errors before you use this service again or <a href="select-scheme">choose a different file to check</a>.</p>

        </div>
    </div>

{{/main}}
{{/layout-cs}}