
	<p><i class="icon icon-important" ></i> You can only upload OpenDocument Spreadsheet (.ods) files at the moment</p>


<p>Choose the spreadsheet you want to upload as part of your Enterprise Management Incentives annual return.</p>

<div class="panel-indent">
			<p>Your .ods file must be 10MB or less.<br/><a href="/contact/beta-feedback-unauthenticated">Contact us on our feedback page</a> if your file is larger and we'll help you upload it.</p>
	    </div>

<form method="post">
	<div class="form-group">
		<div class="upload">
			<div class="column-two-thirds">
				<input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
				<label for="file">Choose a file</label>
				{{! <input type="file" size="60" accept=".ods" class="custom-file-input"> }}
			</div>
			<div class="column-one-third">
				<a class="button" href="/EMI/errors/check-for-errors">Upload</a>
			</div>
		</div>
	</div>
