<p>Choose the spreadsheet you want to upload as part of your Enterprise Management Incentives annual return.</p>
<div class="panel-indent">
	<p>You can currently only upload OpenDocument Spreadsheet (.ods) files.</p>
</div>

<form method="post">
	<div class="form-group">
		<div class="upload">
			<div class="column-two-thirds">
				<input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
				<label for="file">Choose a file</label>
				{{! <input type="file" size="60" accept=".ods" class="custom-file-input"> }}
			</div>
			<div class="column-one-third">
				<a class="button" href="/EMI/errors/check-for-errors">Upload</a>
			</div>
		</div>
	</div>
