<form method="post">
  {{! <p>Choose the OpenDocument Spreadsheet (ODS, .ods file) that you want to upload as part of your Enterprise Management Incentives annual return.</p> }}
  <p>Choose the spreadsheet you want to upload as part of your Enterprise Management Incentives annual return.</p>
  <div class="panel-indent">
    You can only upload OpenDocument Spreadsheet (.ods) files.
  </div>
  <div id="question1" class="form-group">
    <div id="browsefilebox" class="question-body">
      <div class="form1">
        <input id="selectFile" type="file" name="somename" size="chars" accept=".ods">
        <!--<div id="btnHolder"><button id="selectFileBtn" class="button-secondary">Choose your file</button></div>-->
        <div id="selectedFileName">&nbsp;</div>
      </div>
    </div>
  </div>