<p class="lede">Use this service to submit your return at the end of the tax year. This service replaces form EMI40.</p>

<h2 class="heading-medium">Before you start</h2>
<div class="panel-indent">
    The company secretary or the person acting as the company secretary, must have approved this return and must agree to any declaration you make within this service.
</div>

<p>Depending on your circumstances, you may need:</p>
<ul class="list-bullet space">
    <li> to report any events related to the scheme or arrangement in a spreadsheet (.ods format){{!  or comma separated values (.csv) file  }}</li>
    {{! <li>to <a href="/checking_service/choose-and-check">check your spreadsheet for formatting errors</a></li> }}
    <li> the employer company’s name and address, Company Registration Number and Corporation Tax Reference (and those of any qualifying subsidiary companies)</li>
</ul>

<div class="panel-indent">
    <p>You can currently only upload OpenDocument Spreadsheet (.ods) files.</p>
</div>
<p>If you're reporting events, you'll need to <a href="/checking_service/choose-and-check">check your spreadsheet for formatting errors</a>.</p>

{{! <p>If relevant, qualifying subsidiary company details can be entered manually or uploaded in a comma separated values (.csv) file.</p> }}