{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>SAYE/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

					<h1 class="heading-xlarge">Add company details</h1>
 					{{>SAYE/includes/scheme-organiser}}



							<div class="form-group">
                                <a href="/SAYE/companies-group-scheme" class="button">Continue</a>
                            </div>
                        </fieldset>
                    </form>


					<a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}