{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>SAYE/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">

					<h1 class="heading-xlarge">Companies in this group scheme</h1>

					<table>
						<thead>
							<tr>
								<th>Company name</th>
								<th>Address</th>
								<th>Company Registration Number</th>
								<th>Corporation Tax Reference</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Abacus Incorporated</td>
								<td>Gloucester House<br>Springfield Road<br>Newcastle upon Tyne<br>Tyne and Wear<br>NE1 1AA.</td>
								<td>7589628</td>
								<td>3458676452</td>
								<td><a class="editCompanyDetails" href="add-company-details">Change</a><br><a class="deleteCompanyDetails" ref="1" href="#">Delete</a></td>
							</tr>
						</tbody>
					</table>



                    <div class="form-group">
						<a class="button" href="/SAYE/alterations">Continue</a>
					</div>

                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}