{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>SAYE/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">


                	<h1 class="heading-xlarge">Confirmation</h1>

					<p class="lede">Your Save As You Earn annual return has been submitted for the tax year 2014 to 2015</p>

					<div class="panel-indent">
						<p>Submission reference code: XY11 0000 0608 980 TEST
						<br />Date and time submitted: 15 July 2015, 3:54 pm</p>
					</div>


					<p class="form-hint">You can download confirmation as a PDF, it will open in a new window or tab.</p>

					<a class="button medium" id="btnValidation" type="button" href="http://ers-return.herokuapp.com/public/pdf/receipt_SAYE.pdf" target="_blank" title="Opens new window">Download confirmation (PDF, 500KB)</a>


					<h2 class="heading-medium">What happens next?</h2>
					<p>Allow 48 hours before you use HMRC Online services to check the status of your submission in Employment Related Securities (View schemes and arrangements).</p>

					<p><a href="#">Submit another return</a></p>

					<div class="form-group">
						<a class="button" href="/">Finish</a>
					<div>




                </div>
            </div>

        </main>

{{/content}}
{{/layout}}
