{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
  <div class="outer-block">
   <div class="inner-block">
  <!-- main content starts -->
 {{>sub_header_SAYE}}
 {{>what_SAYE}}
          
            <p class="text">
              <a class="button" href="scenario2_2_Check_SAYE">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="scenario2_0_Start_SAYE">Back</a></p>


 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}
