{{<layout}}

{{$pageTitle}}
	Submit your ERS annual return
{{/pageTitle}}

{{$content}}

		<main id="content" role="main">
			{{>includes/alpha_banner}}
			{{>SAYE/includes/reference}}

			<div class="grid-row">
				<div class="column-two-thirds">

					<h1 class="heading-xlarge">Upload your spreadsheet</h1>
				  	{{>SAYE/includes/check_SAYE}}

						<div class="form-group">
					        <a class="button" href="/SAYE/add-scheme-organiser">Upload spreadsheet</a>
					    </div>
					</form>


					<a href="javascript:history.go(-1)" class="link-back">Back</a>

                </div>
            </div>

        </main>

{{/content}}
{{/layout}}

