{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>

			<h1 class="heading-xlarge">Errors have been found</h1>

            <div class="panel panel-border-wide">
                <p>Fix the errors before you use this service again or <a href="upload-spreadsheet">choose a different file to upload</a>.</p>
            </div>

            <h2 class="heading-medium">You need to fix your errors</h2>
            {{! <p>View a <a href="web-errors">detailed error report</a> as a web page.</p> }}
            <p><a href="../../checking-service/start">Use HM Revenue and Customs' file check service</a> to get a detailed error report.</p>

        </div>
    </div>


{{/main}}
{{/layout}}}