{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>emi/includes/reference}}

            <a href="javascript:history.go(-1)" class="link-back">Back</a>

			<h1 class="heading-xlarge">Your file has formatting errors</h1>

            <div class="panel panel-border-wide">
                <p>Fix the errors before you use this service again or <a href="upload-spreadsheet">choose a different file to upload</a>.</p>
            </div>

            <h2 class="heading-medium">Go fix your errors</h2>
            <p><a href="../../checking_service/start">Use HM Revenue and Customs' file check service</a> to get a detailed error report.</p>


        </div>
    </div>


{{/main}}
{{/layout}}}