<div class="service-info">
    <div class="service-info--left">
        <p class="font-xsmall">You are signed in as Elisha Green</p>
        {{! <p class="service-info__p font-xsmall secondary-text">You are signed in as</p>
        <p class="service-info__p" style="font-size: 24px; font-weight: 700">Elisha Green }}
        </p>
    </div>


    <p>
    <!-- <a class="service-info--right" data-toggle-details="last-login-details" href="../../feedback_thanks">Sign out</a></p> -->


    <section class="last-login-details alert alert--info hidden">
        <a class="minimise js-visible font-xsmall" href="#">Minimise</a>
        <p class="alert__message">Last sign in: Wednesday, 20 May 2015 at 9:33am</p>
        <p class="alert__message flush--bottom">
            <a href="https://www.gov.uk/hmrc-online-services-helpdesk">Contact HMRC</a>
            if it wasn't you.
        </p>
    </section>

</div>