{{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
   <div class="outer-block">
   <div class="inner-block">
      <!-- main content starts -->
   {{>sub_header_CSOP}}
  {{>alterations}}
          
            <p class="text">
              <a class="button" href="alterations_check_scenario1_7">Continue</a>
            </p>    
          </form>
          <p class="text"><a href="group_company_edit_scenario1_5">Back</a></p>


 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}
