{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

		<main id="content" role="main">
		   {{>includes/alpha_banner}}
		    <!--{{>includes/hmrc_banner}}-->
		    {{! <a class="link-back" href="/examples/">Back to the GOV.UK prototype kit examples</a> }}

			<div class="grid-row">
				<div class="column-two-thirds">

					<h1 class="heading-xlarge">Employment Related Securities (ERS) B</h1>
				    <h2 class="heading-large">End of year returns preview</h2>
					<p>This page contains links to example scenarios for the ERS end of year returns service. Each scenario may include pages that could change before the service is made live. This preview is for informational purposes only.</p>

				    <h3 class="heading-medium">Save As Your Earn (SAYE - Form 34) </h3>
					<ul class="list-bullet">
						<li><a href="/SAYE/start">Complete a return</a></li>
						{{! <li><a href="/SAYE/scenario1_0_Start_SAYE">Scenario 2 - Complete a return (no errors)</a></li> }}
						<li><a href="/SAYE/errors/start">Scenario 3 - Complete a return (errors)</a></li>
					</ul>

				    <h3 class="heading-medium">Company Share Option Plan (CSOP - Form 35) </h3>
					<ul class="list-bullet">
						<li><a href="CSOP/start">Complete a return</a></li>
						<li><a href="CSOP/errors/start">Complete a return (shows errors)</a></li>
					</ul>

					<h3 class="heading-medium">Share Incentive Plan (SIP - Form 39)</h3>
					<ul class="list-bullet">
						<li><a href="/SIP/start">Complete a return</a></li>
						<li><a href="/SIP/errors/start">Complete a return (shows errors)</a></li>
					</ul>

					<h3 class="heading-medium">Enterprise Management Incentives (EMI - Form EMI40)</h3>
					<ul class="list-bullet">
						<li><a href="/EMI/start">Complete a return</a></li>
						<li><a href="/EMI/errors/start">Complete a return (shows errors)</a></li>
					</ul>

					<h3 class="heading-medium">Other (Form 42)</h3>
					<ul class="list-bullet">
						<li><a href="/OTHER/start">Complete a return</a></li>
						{{! <li><a href="/OTHER/scenario1_0_Start_OTHER">Scenario 2 - Complete a return (no errors)</a></li> }}
						<li><a href="/OTHER/errors/start">Complete a return (errors)</a></li>
					</ul>

					<h3 class="heading-medium">Checking Service</h3>
					<ul class="list-bullet">
						<li><a href="/checking_service/start">Select scheme type (Errors)</a></li>
						{{! <li><a href="/checking_service/checking_start_scenario1">Scenario 1 - Formatting errors</a></li>
    					<li><a href="/checking_service/checking_start_scenario2">Scenario 2 - No formatting errors</a></li>
    					<li><a href="/checking_service/checking_start_scenario1">Scenario 1 - Select scheme type (Errors)</a></li>
    					<li><a href="/checking_service/checking_start_scenario2">Scenario 2 - Select scheme type (No errors)</a></li> }}
    				</ul>

         			{{! <h2 class="heading-medium">Multiple uploads</h2>
      				<ul class="text list-bullet">
    					<li><a href="/checking_service/checking_start_scenario1">Scenario 1 - Formatting errors</a></li>
    					<li><a href="/checking_service/checking_start_scenario2">Scenario 2 - No formatting errors</a></li>
    					<li><a href="/checking_service/checking_multiple1a">Browse - select file type</a></li>
						<li><a href="/checking_service/checking_multiple1">Browse - No files chosen</a></li>
						<li><a href="/checking_service/checking_multiple2">Browse - Multiple files chosen</a></li>
						<li><a href="/checking_service/checking_multiple3">Drag and drop and Browse - No files chosen</a></li>
						<li><a href="/checking_service/checking_multiple6">Drag and drop and Browse - multiple files chosen</a></li>
						<li><a href="/checking_service/checking_multiple4">None javascript - browse</a></li>
						<li><a href="/checking_service/checking_multiple5">None javascript - summary</a></li>
						<li><a href="/checking_service/nonjs_upload1">No javascript upload post testing</a></li>
						<li><a href="/checking_service/multiple_upload1">Javascript upload post testing</a></li>
						<li><a href="/checking_service/error_messaging">Upload error messaging</a></li>
					</ul> }}

					{{! <h3 class="heading-medium">Group plans</h3>
					<ul class="text list-bullet">
						<li><a href="/group_plan/crn_start">CRN look up</a></li>
						<li><a href="/group_plan/postcode_start">Postcode look up</a></li>
						<li><a href="/group_plan/minimalv3_start">1 Page - name only, all optional fields removed</a></li>
						<li><a href="/group_plan/minimal_start">1 dynamic page - most optional fields removed</a></li>
						<li><a href="/group_plan/minimalv2_pages_start">2 Pages - most optional fields removed</a></li>
						<li><a href="/group_plan/start">Group Plan full flow</a></li>
					</ul> }}


 					{{! <h3 class="heading-medium">Save for later (CSOP example)</h3>
    				<ul class="text list-bullet">
					    <li><a href="/CSOP_save_for_later_demo/Saved_page_6">New annual return > Save for later</a></li>
					    <li><a href="/CSOP_save_for_later_demo/Saved_page_6">Continue with a saved annual return </a></li>
					    <li><a href="/CSOP_save_for_later_demo/Not_saved_page_6">Annual return not found </a></li>
					    <li><a href="/CSOP_save_for_later_demo/new_flow_01">New combined table flow </a></li>
					    <li><a href="/SIP/scenario1_0_Start_SIP">SIP step indicator</a></li>
					    <li><a href="/SIP_2/2scenario1_0_Start_SIP">SIP progress indicator</a></li>
					    <li><a href="/SIP_3/3scenario1_0_Start_SIP">SIP progress and step combined, with save and exit</a></li>
					</ul> }}

				</div>
			</div>

		</main>

{{/content}}
{{/layout}}