{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

		<main id="content" role="main">
		   {{>includes/alpha_banner}}
		    <!--{{>includes/hmrc_banner}}-->
		    {{! <a class="link-back" href="/examples/">Back to the GOV.UK prototype kit examples</a> }}

			<div class="grid-row">
				<div class="column-two-thirds">

					<h1 class="heading-xlarge">Employment Related Securities (ERS)</h1>
				    <h2 class="heading-large">End of year returns preview</h2>
					<p>This page contains links to example scenarios for the ERS end of year returns service. Each scenario may include pages that could change before the service is made live. This preview is for informational purposes only.</p>

				    <h3 class="heading-medium">Save As Your Earn (SAYE - Form 34) </h3>
					<ul class="list-bullet">
						<li><a href="/SAYE/start">Complete a return</a></li>
						{{! <li><a href="/SAYE/scenario1_0_Start_SAYE">Scenario 2 - Complete a return (no errors)</a></li> }}
						<li><a href="/SAYE/scenario1_0_Start_SAYE_ERRORS">Scenario 3 - Complete a return (errors)</a></li>
					</ul>

				    <h3 class="heading-medium">Company Share Option Plan (CSOP - Form 35) </h3>
					<ul class="list-bullet">
						<li><a href="CSOP/start">Complete a return</a></li>
						<li><a href="CSOP/errors/start">Complete a return (shows errors)</a></li>
					</ul>

					<h3 class="heading-medium">Share Incentive Plan (SIP - Form 39)</h3>
					<ul class="list-bullet">
						<li><a href="/SIP/start">Complete a return</a></li>
						<li><a href="/SIP/errors/start">Complete a return (shows errors)</a></li>
					</ul>


					<h3 class="heading-medium">Enterprise Management Incentives (EMI - Form EMI40)</h3>
					<ul class="list-bullet">
						<li><a href="/EMI/start">Complete a return</a></li>
						<li><a href="/EMI/errors/start">Complete a return (shows errors)</a></li>
					</ul>




					<h3 class="heading-medium">Other (Form 42)</h3>
					<ul class="list-bullet">
						<li><a href="/OTHER/start">Complete a return</a></li>
						{{! <li><a href="/OTHER/scenario1_0_Start_OTHER">Scenario 2 - Complete a return (no errors)</a></li> }}
						{{! <li><a href="/OTHER/errors/start">Complete a return (errors)</a></li> }}
					</ul>

				</div>
			</div>

		</main>

{{/content}}
{{/layout}}