{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="outer-block">
  <div class="inner-block">
     <h1 class="heading-xlarge">ERS Prototypes</h1>


<h2 class="heading-large">End of Year Return</h2>
     <h3 class="heading-medium">Company Share Option Plan (CSOP) </h3>
     <ul class="text list-bullet">
    <li><a href="CSOP/scenario1_0_Start_CSOP">Scenario 1 - Nil return</a></li>
    <li><a href="CSOP/scenario1_0_Start_CSOP">Scenario 2 - Complete a return (no errors)</a></li>
    <li><a href="CSOP/scenario1_0_Start_CSOP_ERRORS">Scenario 3 - Complete a return (errors)</a></li>
    <!--<li><a href="start_scenario3">Scenario 3 - Complete a return (no errors)</a></li>-->
  </ul>

<h3 class="heading-medium">Share Incentive Plan (SIP)</h3>
     <ul class="text list-bullet">
    
    <li><a href="/SIP/scenario1_0_Start_SIP">Scenario 1 - Nil return</a></li>
   
    <li><a href="/SIP/scenario1_0_Start_SIP">Scenario 2 - Complete a return (no errors)</a></li>
    <li><a href="/SIP/scenario1_0_Start_SIP_ERRORS">Scenario 3 - Complete a return (errors)</a></li>
  </ul>

 <h3 class="heading-medium">Save As Your Earn (SAYE) </h3>
     <ul class="text list-bullet">
    
    <li><a href="/SAYE/scenario1_0_Start_SAYE">Scenario 1 - Nil return</a></li>
    <li><a href="/SAYE/scenario1_0_Start_SAYE">Scenario 2 - Complete a return (no errors)</a></li>
    <li><a href="/SAYE/scenario1_0_Start_SAYE_ERRORS">Scenario 3 - Complete a return (errors)</a></li>
  </ul>

  

  <h3 class="heading-medium">Enterprise Management Incentives (EMI)</h3>
     <ul class="text list-bullet">
    
    <li><a href="/EMI/scenario1_0_Start_EMI">Scenario 1 - Nil return</a></li>
    <li><a href="/EMI/scenario1_0_Start_EMI">Scenario 2 - Complete a return (no errors)</a></li>
    <li><a href="/EMI/scenario1_0_Start_EMI_ERROR">Scenario 3 - Complete a return (errors)</a></li>
  </ul>
  
   
   <h3 class="heading-medium">Other (Form 42)</h3>
     <ul class="text list-bullet">
    
    <li><a href="/OTHER/scenario1_0_Start_OTHER">Scenario 1 - Nil return</a></li>
    <li><a href="/OTHER/scenario1_0_Start_OTHER">Scenario 2 - Complete a return (no errors)</a></li>
    <li><a href="/OTHER/scenario1_0_Start_OTHER_ERROR">Scenario 3 - Complete a return (errors)</a></li>
  </ul>



<h3 class="heading-medium">Plan alterations</h3>
     <ul class="text list-bullet">
    
    <li><a href="/CSOP/scenario1_7_Alterations_CSOP">Scenario 1 - current version </a></li>
    <li><a href="/ALT/reworded_version_page1">Scenario 2 - reworded version </a></li>
    <li><a href="/ALT/merged_version_page_version_2">Scenario 3 - merged version</a></li>
  </ul>





     <h2 class="heading-medium">Checking Service</h2>
      <ul class="text list-bullet">
    <!--<li><a href="/checking_service/checking_start_scenario1">Scenario 1 - Formatting errors</a></li>
    <li><a href="/checking_service/checking_start_scenario2">Scenario 2 - No formatting errors</a></li>-->
    <li><a href="/checking_service/checking_start_scenario1">Scenario 1 - Select scheme type (Errors)</a></li>
    <li><a href="/checking_service/checking_start_scenario2">Scenario 2 - Select scheme type (No errors)</a></li>
    </ul>
         <h2 class="heading-medium">Multiple uploads</h2>
      <ul class="text list-bullet">
    <!--<li><a href="/checking_service/checking_start_scenario1">Scenario 1 - Formatting errors</a></li>
    <li><a href="/checking_service/checking_start_scenario2">Scenario 2 - No formatting errors</a></li>-->
    <li><a href="/checking_service/checking_multiple1a">Browse - select file type</a></li>
    <li><a href="/checking_service/checking_multiple1">Browse - No files chosen</a></li>
    <li><a href="/checking_service/checking_multiple2">Browse - Multiple files chosen</a></li>
    <li><a href="/checking_service/checking_multiple3">Drag and drop and Browse - No files chosen</a></li>
    <li><a href="/checking_service/checking_multiple6">Drag and drop and Browse - multiple files chosen</a></li>
     <li><a href="/checking_service/checking_multiple4">None javascript - browse</a></li>
       <li><a href="/checking_service/checking_multiple5">None javascript - summary</a></li>
       <li><a href="/checking_service/nonjs_upload1">No javascript upload post testing</a></li>
       <li><a href="/checking_service/multiple_upload1">Javascript upload post testing</a></li>
       <li><a href="/checking_service/error_messaging">Upload error messaging</a></li>
        
    </ul>




    <h3 class="heading-medium">Group plans</h3>
      <ul class="text list-bullet">
   
      <li><a href="/group_plan/crn_start">CRN look up</a></li>
    <li><a href="/group_plan/postcode_start">Postcode look up</a></li>
        <li><a href="/group_plan/minimalv3_start">1 Page - name only, all optional fields removed</a></li>
    <li><a href="/group_plan/minimal_start">1 dynamic page - most optional fields removed</a></li>
    <li><a href="/group_plan/minimalv2_pages_start">2 Pages - most optional fields removed</a></li>
    <li><a href="/group_plan/start">Group Plan full flow</a></li>
  </ul>
    
 
 <h3 class="heading-medium">Save for later (CSOP example)</h3>
    

    <ul class="text list-bullet">
    <li><a href="/CSOP_save_for_later_demo/Saved_page_6">New annual return > Save for later</a></li>
    <li><a href="/CSOP_save_for_later_demo/Saved_page_6">Continue with a saved annual return </a></li>
    <li><a href="/CSOP_save_for_later_demo/Not_saved_page_6">Annual return not found </a></li>
    <li><a href="/CSOP_save_for_later_demo/new_flow_01">New combined table flow </a></li>
    <li><a href="/SIP/scenario1_0_Start_SIP">SIP step indicator</a></li>
    <li><a href="/SIP_2/2scenario1_0_Start_SIP">SIP progress indicator</a></li>
    <li><a href="/SIP_3/3scenario1_0_Start_SIP">SIP progress and step combined, with save and exit</a></li>
   
   

   

  </ul>

     
  </div>
</div>
</main>
{{/content}}

{{/layout}}
