{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
		<div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
			<h1 class="heading-xlarge">Choose the .csv files you need to upload as part of your annual return</h1>

            <form>
                <fieldset>
                    <legend class="visuallyhidden">Choose which CSV files</legend>

                    <div class="form-group">
                        <label class="block-label" for="csv-type-1">
                            <input id="csv-type-1" name="csv-type" type="checkbox" value="share-awards">Share awards
                        </label>
                        <label class="block-label" for="csv-type-2">
                            <input id="csv-type-2" name="csv-type" type="checkbox" value="share-out">Shares withdrawn from the plan
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <a class="button" href="upload-csv">Continue</a>
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}