{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
            <h1 class="heading-xlarge">Trustees of this Share Incentive Plan</h1>

            <div class="panel panel-border-wide space">
                <p><a href="trustee-details">Add a trustee</a></p>
            </div>


            <table class="space">
                <tbody>
                    <tr>
                        <th width="40%">Mark E Smith</th>
                        <td class="numeric"><a href="trustee-details">Change</a> &nbsp; <a href="#">Delete</a></td>
                    </tr>
                    <tr>
                       {{! <td>Address</td> }}
                        <td colspan="2">Gloucester House, Springfield Road, Newcastle upon Tyne, Tyne and Wear, NE1 1AA</td>
                    </tr>

                </tbody>
            </table>



            <div class="form-group">
                <a class="button" href="plan-alterations">Continue</a>
            </div>

        </div>
    </div>

{{/main}}
{{/layout}}