{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

    {{>includes/reference}}

    <div class="grid-row">
		<div class="column-two-thirds">

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
			{{! <h1 class="heading-xlarge">Choose the next file you want to upload</h1> }}
            <h1 class="heading-xlarge">Upload your next file</h1>


            {{! <div class="panel panel-border-wide space">
                <p>You have uploaded:</p>
                <ul class="list">
                    <li>SIP_Awards.csv</li>
                </ul>
            </div> }}

                 <h2 class="heading-small">These are the files you said you needed to upload:</h2>
                <ul class="list space">
                    <li>Share awards - UPLOADED</li>
                    <li>Shares withdrawn from the plan</li>
                </ul>

            {{! <p>Choose the next file you want to upload as part of your Share Incentive Plan annual return.</p> }}


            <form method="post">
                <div class="form-group">
                    <div class="upload">
                        <div class="column-two-thirds">
                            <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
                            <label for="file">Choose a file</label>
                        </div>
                        <div class="column-one-third">
                            <a class="button" href="upload-next-b-csv">Upload</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}