{{<layout}}

{{$pageTitle}}
    GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}
 {{>includes/reference}}
        <main id="content" role="main">
            {{>includes/alpha_banner}}
            {{>EMI/includes/reference}}

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Choose your file type</h1>
                    {{>EMI/includes/filetype}}

                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/main}}

{{/layout}}