<p>A company must meet set conditions to qualify for Enterprise Management Incentives and any subsidiaries of that company must be qualifying subsidiaries.</p>

<form method="post">
  <fieldset>
    <legend class="form-label-bold">Are there any qualifying subsidiary companies?</legend>
    <div class="form-block">
      <fieldset class="inline">
        <label class="block-label" for="yes">
          <input id="yes" type="radio" value="Yes" name="radio-group"></input>Yes
        </label>
        <label class="block-label" for="no">
          <input id="no" type="radio" value="No" name="radio-group"></input>No
        </label>
      </fieldset>
    </div>
  </fieldset>

  <div class="form-group">
    <button class="button">Continue</button>
  </div>
</form>