{{<layout}}

{{$pageTitle}}
  Submit your ERS annual return
{{/pageTitle}}

{{$content}}

    <main id="content" role="main">
      {{>includes/alpha_banner}}
      {{>EMI/includes/reference}}

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">Check for formatting errors</h1>
            <p>If you haven't already checked this spreadsheet for errors, the check will happen now.</p>

                    <div class="form-group">
                        <a class="button" href="/EMI/errors/errors-spreadsheet">Continue</a>
                    </div>

                  <a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}
