{{<layout}}

{{$pageTitle}}
    Submit your ERS annual return
{{/pageTitle}}

{{$content}}

        <main id="content" role="main">
           {{>includes/alpha_banner}}
                 {{>EMI/includes/reference}}


            <div class="grid-row">
                <div class="column-two-thirds">

					<h1 class="heading-xlarge">Your file has formatting errors</h1>

                    <p>Fix the errors before you use this service again or <a href="/EMI/errors/upload-spreadsheet">choose a different file to upload</a>.</p>
                    {{! <div class="form-group">
                    <a class="button" type="button" href="/checking_service/choose-and-check">Choose and check</a>
                    </div> }}



					{{! <div style="clear:both; border-bottom: 1px solid #bfc1c3">

						<a class="button medium" id="btnValidation" type="button" href="/public/pdf/errors_report_CSOP.pdf" target="_blank" title="Opens new window">View error report (PDF, 500KB)</a>
						<p>You can also <a href="/EMI/errors/web-errors">view this error report as a web page</a>.</p>
					</div> }}


					<h2 class="heading-medium">What happens next?</h2>
					<p><a href="/checking_service/start">Use HM Revenue and Customs' file check service</a> to get a detailed error report.</p>

   					<a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}