{{<layout}}

{{$pageTitle}}
  Submit your ERS annual return
{{/pageTitle}}

{{$content}}

    <main id="content" role="main">
      {{>includes/alpha_banner}}
      {{>EMI/includes/reference}}

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-xlarge">Upload your file</h1>
                    {{>EMI/includes/check_EMI}}


                  </form>

                  <a href="javascript:history.go(-1)" class="link-back">Back</a>
                </div>
            </div>

        </main>

{{/content}}
{{/layout}}

<script type="text/javascript">

var inputs = document.querySelectorAll( '.inputfile' );
Array.prototype.forEach.call( inputs, function( input )
{
  var label  = input.nextElementSibling,
    labelVal = label.innerHTML;

  input.addEventListener( 'change', function( e )
  {
    var fileName = '';
    if( this.files && this.files.length > 1 )
      fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
    else
      fileName = e.target.value.split( '\\' ).pop();

    if( fileName )
      label.querySelector( 'span' ).innerHTML = fileName;
    else
      label.innerHTML = labelVal;
  });
});

</script>