{{<layout}}

{{$pageTitle}}Change of circumstances{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
  <div class="outer-block">
   <div class="inner-block">
  <!-- main content starts -->

   
    {{>sub_header_CSOP}}

     <h1 class="heading-large">Report a change to your circumstances</h1>
 <!-- radio buttons start -->
          <p class="text">Tell us about any changes using the following sections</p>

          


  <table>
    <thead>
     
    </thead>
    <tbody>
      <tr>
        <td>Personal and partner details</td>
       
      </tr>
      <tr>
        <td>Work and hours</td>
       
      </tr>
      <tr>
       <td>Income</td>
       
      </tr>
      <tr>
        <td>Children</td>
        
      </tr>

</tr>
      <tr>
        <td>Childcare</td>
        
      </tr>

      </tr>
      <tr>
        <td>Bank details</td>
        
      </tr>

<tr>
        <td>Report a death</td>
        
      </tr>


      <tr>
        <td>Other changes</td>
        
      </tr>



    </tbody>
  </table>





 <!-- main content ends -->
  </div>
</div>
</main>
{{/content}}

{{/layout}}















