  {{<layout}}

{{$pageTitle}}Submit your ERS annual return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}
  
<main id="content" role="main">
  <div class="outer-block">
     <div class="inner-block">
  <!-- main content starts -->
  
  
               {{>sub_header_CSOP}}
 
  <h1 class="heading-large">Add company details</h1>
  
    <div class="form-block">
             
<form action="" method="post" class="form">
            <fieldset>
              <legend></legend>
               <div class="form-group">
          
            <label for="crn-name" class="form-label"><span class="bold-small">Company name</span></label>
         
              <input type="text" class="form-control-1-4" id="crn-name">
        </div>
       <div class="form-group">
          <p>Find the Company's address</p>
            <label for="crn-name" class="form-label"><span class="bold-small">Postcode</span></label>
         
              <input type="text" class="form-control-1-4" id="crn-name">
        </div>   <!--div10 
      
          
        <div class="form-group">
          <p>Find the Company's address</p>
            <label for="crn-name" class="form-label"><span class="bold-small">Postcode</span></label>
         
              <input type="text" class="form-control-1-4" id="crn-name">
        </div>   <!--div10  ends--> 

      <a class="button" id="btnValidationNext" type="button" href="postcode2" style="background-color: #BFC1C3; position: relative; display: -moz-inline-stack; display: inline-block; padding: 0.3em 0.6em 0.2em 0.6em; border: none; -webkit-border-radius: 0; -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #000;
  margin: 0 15px 15px 0;
  padding: 0.52632em 0.78947em 0.26316em 0.78947em;
  vertical-align: top; ">Find address</a>
      <p><a href=""><a href="/group_company_scenario1_4">I don't know the postcode or the company doesn't have one.</a></p>

           <div class="form-group">
          <label for="crn-name" class="form-label"><span class="bold-small">Company Registration Number (optional) (optional)</span></label>
            <span class="text form-hint">It's an 8 digit number or 2 letters followed by a 6 digit number, allocated by Companies House. For example, 12345678 or AB123456.</span></label>
              <input type="text" class="form-control-1-4" id="crn-name">
            <p class="text"></p>
            <!--div9 <details>
            <summary><span class="summary">Where can I find the CRN?</span></summary>
            <div class="panel-indent">
              <p class="text">
               If hint is long place here.
              </p>
            div9  ends--></div>
          </details> 
        </div>    <!--div8  end-->
        <!--div10  start--><div class="form-group">
          <label for="ctr-name" class="form-label"><span class="bold-small">Corporation Tax Reference (optional) (optional)</span>
          <span class="text form-hint">It's a 10 digit number issued by HM Revenue and Customs, usually used in relation to company tax returns. For example, 1234567890.</span></label>
              <input type="text" class="form-control-1-4" id="ctr-name"></div>   
                <p> <a class="button" id="btnValidationNext" type="button" href="postcode2">Continue</a></p>
                <p class="text"><a href="postcode_start">Back</a></p>
                                      
            </fieldset>
           
            </form>

          

 <!-- main content ends -->
</div>
</div>
  </div>
</main>
{{/content}}

{{/layout}}
